{% extends "base.html" %}

{% load helpertags %}

{% block contenido %}

titulo: {{titulo}} <br>
pais: {{pais}} <br>
total familia: {{total}} <br>
jefe masculino: {{hombres|floatformat:2}} % <br>
jefe femenino: {{mujeres|floatformat:2}} % <br> <br>

{% for k,v in tiempo_ingresos.items %}
	{{k}} -- {{v}}<br>
  <table class="table table-striped">
    <thead>
      <tr>
      	<th></th>
        <th>Cultivo tradicionales</th>
        <th>Cultivos de huertos</th>
        <th>Frutales</th>
        <th>Otras fuentes</th>
        <th>Ganado</th>
        <th>Procesamiento</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Verano</td>
        <td>{{v.0|floatformat:2}} </td>
        <td>{{v.2|floatformat:2}} </td>
        <td>{{v.4|floatformat:2}} </td>
        <td>{{v.6|floatformat:2}} </td>
        <td>{{v.8|floatformat:2}} </td>
        <td>{{v.10|floatformat:2}}</td>
      </tr>
      <tr>
        <td>Invierno</td>
        <td>{{v.1|floatformat:2}}</td>
        <td>{{v.3|floatformat:2}}</td>
        <td>{{v.5|floatformat:2}}</td>
        <td>{{v.7|floatformat:2}}</td>
        <td>{{v.9|floatformat:2}}</td>
        <td>{{v.11|floatformat:2}}</td>
      </tr>
    </tbody>
  </table>
	
{% endfor %}

{% endblock contenido %}