/*variables*/
body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #f7f3f0;
}
header {
  background-color: #93c55e;
}
header p {
  margin: 20px 0px;
  padding: 0px 30px;
}
header .eli-pad {
  padding-left: 0px;
  padding-right: 0px;
}
header .eli-pad p {
  font-weight: bold;
  color: #fff;
  font-size: 1em;
}
.img-logo img {
  margin-left: -15px !important;
}
.footer,
.pie-page {
  background-color: #564843;
  font-weight: bold;
  font-size: 0.9em;
}
.text-muted {
  color: #a6a6a6;
}
.simas {
  text-align: right;
}
.simas p {
  color: #fff;
}
.simas a {
  color: #93c55e;
}
/*****filtro index******/
.filtro-index {
  background: linear-gradient(rgba(58,47,44,0.5), rgba(58,47,44,0.5)), url("/static/img/textura.png");
  padding: 10px;
}
.styled-select {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #796f6b;
  padding-top: 10px;
  padding-bottom: 10px;
}
#id_sexo {
  margin-left: 10px;
}
#id_organizacion,
#id_sexo {
  background: #ccc8c7;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  background: #ccc8c7 url("https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-down-01-16.png") no-repeat right center;
  background-position: 95% 50%;
}
.btn-filtro {
  background-color: #ed6d16;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  color: #fff;
  font-weight: bold;
  padding: 6px 40px;
}
.btn-filtro:hover,
.btn-filtro:focus {
  color: #fff;
}
.eliminar-mar {
  margin: 0px;
}
.contenedor-index {
  background: linear-gradient(rgba(0,104,55,0.5), rgba(0,104,55,0.5)), url("/static/img/fondo.JPG");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.contenedor-index .filtro-index {
  margin: 0px;
}
.info-index {
  margin-top: 180px;
  margin-bottom: 180px;
  padding: 25px;
  text-align: center;
  background-color: rgba(117,197,94,0.5);
  color: #fff;
  font-size: 0.9em;
}
.info-index hr {
  width: 50%;
}
.slider {
  margin-bottom: 10px;
}
/*.bx-prev
	margin-left -7%
.bx-next
	margin-right -6%*/
/*********mapas************/
.filtros {
  background-color: #453a36;
  padding: 15px;
  font-size: 0.8em;
}
.filtros .breadcrumb {
  background-color: transparent;
  margin-bottom: 0px;
}
.filtros .breadcrumb li {
  color: #fff;
}
.breadcrumb>li+li:before {
  content: ">";
}
/***********tablero***********/
.mapa-general {
  border: 2px solid #d1d1d1;
  background-color: #fff;
  padding: 0px;
}
.btn-tgeneral {
  padding: 13px;
  background-color: #93c55e;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
  color: #fff;
  font-weight: bold;
  margin: 30px auto;
  width: 85%;
  -webkit-box-shadow: 5px 5px 0px -2px #88b84f;
  -moz-box-shadow: 5px 5px 0px -2px #88b84f;
  -o-border-radius: 5px 5px 0px -2px #88b84f;
  box-shadow: 5px 5px 0px -2px #88b84f;
}
.btn-tgeneral:hover {
  background-color: #ed6d16;
  -webkit-box-shadow: 5px 5px 0px -2px #d46325;
  -moz-box-shadow: 5px 5px 0px -2px #d46325;
  -o-border-radius: 5px 5px 0px -2px #d46325;
  box-shadow: 5px 5px 0px -2px #d46325;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  font-weight: bold;
}
#grafico1,
#grafico2,
#grafico3,
#grafico4,
#grafico5 {
  background-color: #fff;
  border: 2px solid #d1d1d1;
}
#grafico3,
#grafico4 {
  margin-top: 20px;
}
.highcharts-title {
  font-size: 1em !important;
}
.fila1,
.fila2 {
  margin-top: 30px;
  margin-bottom: 70px;
}
.tabla-productor {
  background-color: #fff;
  border: 2px solid #d1d1d1;
  padding: 0px;
  font-size: 0.9em;
}
.tabla-productor th {
  color: #ed6d16;
  text-align: center;
  border-right: 2px solid #d1d1d1;
}
.tabla-productor th:last-child {
  border-right: 0px;
}
.tabla-productor tr {
  border-bottom: 2px solid #d1d1d1;
  text-align: center;
  vertical-align: middle;
}
.tabla-productor tr td {
  border-right: 2px solid #d1d1d1;
}
.tabla-productor tr td:last-child {
  border-right: 0px;
}
.tabla-productor tr td:first-child {
  color: #547287;
}
.sexo {
  color: #93c55e;
}
.sexo .fa-female:before,
.sexo .fa-male:before {
  font-size: 1.8em;
  margin-right: 10px;
}
.sexo span {
  font-weight: 700;
}
.tabla-productor.table>tbody>tr>td,
.tabla-productor.table>tbody>tr>th,
.tabla-productor.table>tfoot>tr>td,
.tabla-productor.table>tfoot>tr>th,
.tabla-productor.table>thead>tr>td,
.tabla-productor.table>thead>tr>th {
  vertical-align: middle !important;
}
.btn-tabla {
  width: 90%;
  background-color: #ed6d16;
  -webkit-box-shadow: 5px 5px 0px -2px #d46325;
  -moz-box-shadow: 5px 5px 0px -2px #d46325;
  -o-border-radius: 5px 5px 0px -2px #d46325;
  box-shadow: 5px 5px 0px -2px #d46325;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  font-weight: bold;
}
.btn-tabla:hover {
  color: #fff;
  font-weight: bold;
  background-color: #93c55e;
  -webkit-box-shadow: 5px 5px 0px -2px #88b84f;
  -moz-box-shadow: 5px 5px 0px -2px #88b84f;
  -o-border-radius: 5px 5px 0px -2px #88b84f;
  box-shadow: 5px 5px 0px -2px #88b84f;
}
/************tablero de indicadores*******************/
.ind-tablero {
  padding-top: 5px;
  padding-bottom: 5px;
}
.ind-familia,
.ind-org,
.ind-sexo {
  background-color: #4b3f3c;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  font-weight: bold;
  vertical-align: middle;
}
.ind-familia,
.ind-org {
  width: 32.333333%;
  margin-right: 1%;
}
.numero {
  font-size: 2em;
  color: #ed6d16;
  text-align: right;
}
.ind-text {
  margin-top: 15px;
  font-size: 0.8em;
}
.linea {
  border-right: 2px solid #4e2e13;
}
/*.contenido-indicadores
	.highcharts-title
		display none*/
.grafico-indicador {
  background-color: #fff;
  border: 2px solid #d1d1d1;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 30px;
}
.titulo-grafico {
  font-size: 0.7em;
  color: #ed6d16;
  border-bottom: 2px solid #d1d1d1;
  padding: 10px;
  margin-bottom: 20px;
}
.content-grafico h5 {
  text-align: right;
  margin-top: 0px;
  font-weight: bold;
}
.content-grafico h1 {
  margin-bottom: 5px;
  color: #ed6d16;
  font-weight: bold;
  text-align: right;
  padding-right: 40px;
}
.cuadro {
  background-color: #93c55e;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  margin-left: 14px;
}
.info-grafico2 {
  border-right: 2px solid #d1d1d1;
  padding-left: 0;
  padding-right: 0;
}
.info-grafico2 ul {
  padding-right: 13px;
  padding-left: 29px;
}
.info-grafico2 ul li {
  list-style: none;
  font-size: 1em;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 2px solid #d1d1d1;
}
.info-grafico2 ul li:last-child {
  border-bottom: 0px;
}
.info-grafico2 ul li h2,
.info-grafico2 ul li h3,
.info-grafico2 ul li h5 {
  color: #ed6d16;
  text-align: center;
}
.info-grafico2 ul li div {
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 20px;
  text-align: right;
}
#ind-grafico3 {
  width: 98%;
  margin: 0 auto;
}
.alinear {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
}
.ind-fila4 {
  margin-bottom: 100px;
}
.ind-alimento {
  padding: 98px 20px;
}
.ind-alimento img {
  padding-top: 50px;
}
.ind-numero {
  color: #93c55e;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}
.titulo-contenido {
  color: #93c55e;
  padding-top: 20px;
}
.tabla-ingreso {
  vertical-align: middle;
  margin-bottom: 0;
}
.tabla-ingreso tr:nth-child(2n) {
  background-color: #ebebeb;
}
.tabla-ingreso tr:last-child {
  font-weight: bold;
}
.tabla-ingreso tr td {
  text-align: center;
}
.tabla-ingreso tr td:first-child {
  text-align: right;
  border-right: 2px solid #d1d1d1;
  background-color: #fff;
}
.tabla-ingreso tr th {
  text-align: center;
}
.tabla-ingreso tr th:first-child {
  color: #ed6d16;
  border-right: 2px solid #d1d1d1;
  background-color: #fff;
  text-align: right;
}
.tabla-ingreso.table>tbody>tr>td {
  border-top: 0px !important;
}
@media (min-width: 1200px) {
  .contenido-general,
  .contenido-indicadores {
    width: 95%;
    margin: 25px auto;
  }
  .mapa-general,
  .tabla-productor {
    width: 45%;
    margin-right: 4%;
    margin-left: 1%;
  }
  #grafico1,
  #grafico2,
  #grafico3,
  #grafico4 {
    width: 48%;
    margin-right: 2%;
  }
  #grafico5 {
    width: 49%;
    margin-right: 1%;
  }
}
