/*variables*/

verdetierno = #93c55e
grisemioscuro = #564843
blanco = #fff
negro = #333
gris = #ccc8c7
naranja = #ed6d16
bordergris= 2px solid #d1d1d1

redondeado()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-o-border-radius arguments
	border-radius arguments
  
sombras()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-o-border-radius arguments
	box-shadow arguments
	
cover()
	-webkit-background-size arguments
	-moz-background-size arguments
	-o-background-size arguments
	background-size arguments
	
body
	margin 0 auto
	font-family 'Open Sans', sans-serif
	font-size 16px
	background-color #f7f3f0
header
	background-color verdetierno

	p
		margin 20px 0px
		padding 0px 30px
	.eli-pad
		padding-left 0px
		padding-right 0px
		p
			font-weight bold
			color blanco
			font-size 1em
.img-logo 
	img
		margin-left: -15px !important;		
.footer
.pie-page
	background-color grisemioscuro
	font-weight bold
	font-size 0.9em
.text-muted
	color #A6A6A6

.simas
	text-align right
	p
		color white
	a
		color verdetierno
/*****filtro index******/
.filtro-index
	background linear-gradient(rgba(58, 47, 44, 0.5), rgba(58, 47, 44, 0.5)
    ),

    url('/static/img/textura.png')
	padding 10px
	
.styled-select
	redondeado 5px
	border 2px solid #796f6b
	padding-top 10px
	padding-bottom 10px
		
#id_sexo
	margin-left 10px
#id_organizacion,#id_sexo
	background gris
	width 100%
	padding 5px
	font-size 16px
	line-height 1
	border-radius 0
	height 34px
	-webkit-appearance none
	background gris url("https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-down-01-16.png") no-repeat right center
	background-position 95% 50%
.btn-filtro
	background-color naranja
	redondeado 0px
	color blanco
	font-weight bold
	padding 10px 0px
	width 48%
	margin-right 1%
	&:hover
	&:focus
		color blanco
.eliminar-mar
	margin 0px


.contenedor-index
	background linear-gradient(rgba(0,104,55, 0.5), rgba(0,104,55, 0.5)
    ),

    url('/static/img/fondo.JPG')
	cover cover
	background-repeat no-repeat
	.filtro-index
		margin 0px

.info-index
	margin-top 180px
	margin-bottom 180px
	padding 25px
	text-align center
	background-color rgba(117,197,94, 0.5)
	color blanco
	font-size 0.9em
	hr
		width 50%

.slider
	margin-bottom 10px
/*.bx-prev
	margin-left -7%
.bx-next
	margin-right -6%*/
/*********mapas************/
.filtros
	background-color #453a36
	padding 15px
	font-size 0.8em
	.breadcrumb
		background-color transparent
		margin-bottom 0px
		li
			color blanco
.breadcrumb>li+li:before
	content: ">";

/***********tablero***********/
	
.mapa-general
.mapa-finca
	border bordergris
	background-color blanco
	padding 0px
.btn-tgeneral

	padding 13px
	background-color verdetierno
	redondeado 0px
	border 0px
	color blanco
	font-weight bold
	margin 30px auto
	width 85%
	sombras 5px 5px 0px -2px #88b84f
	&:hover
		background-color naranja
		sombras 5px 5px 0px -2px #D46325
		color blanco
		redondeado 0px
		font-weight bold
	&:focus
		color blanco
		background-color verdetierno
		sombras 5px 5px 0px -2px #88b84f

#grafico5
	background-color blanco
	border bordergris
	
#grafico3
#grafico4
	margin-top 20px
.highcharts-title
	font-size 1em !important
.fila1
.fila2
	margin-top 30px
	margin-bottom 70px
.tabla-productor
	background-color blanco
	border bordergris
	padding 0px
	font-size 0.9em
	th
		color naranja
		text-align center
		border-right bordergris
		&:last-child
			border-right 0px
	tr
		border-bottom bordergris
		text-align center
		vertical-align middle
		td
			border-right bordergris
			&:last-child
				border-right 0px
			&:first-child
				color #547287
.sexo
	color verdetierno
	.fa-female:before
	.fa-male:before
		font-size 1.8em
		margin-right 10px
	span
		font-weight 700			
.tabla-productor
	max-height 405px
	overflow-y scroll
.tabla-productor.table>tbody>tr>td
.tabla-productor.table>tbody>tr>th
.tabla-productor.table>tfoot>tr>td
.tabla-productor.table>tfoot>tr>th
.tabla-productor.table>thead>tr>td
.tabla-productor.table>thead>tr>th
	vertical-align middle !important
.btn-tabla
	width 90%
	background-color naranja
	sombras 5px 5px 0px -2px #D46325
	color blanco
	redondeado 0px
	font-weight bold
	&:hover
		color blanco
		font-weight bold
		background-color verdetierno
		sombras 5px 5px 0px -2px #88b84f

/************tablero de indicadores*******************/
.ind-tablero
	padding-top 5px
	padding-bottom 5px
.numero-encuestas
.ind-familia
.ind-org
.ind-sexo
	background-color #4b3f3c
	padding-top 15px
	padding-bottom 15px
	color blanco
	font-weight bold
	vertical-align middle
.numero-encuestas
	background-color transparent !important



.numero
	font-size 2em
	color naranja
	text-align right
	
.ind-text
	margin-top 15px
	font-size 0.8em

.linea
	border-right 2px solid #4E2E13
	
/*.contenido-indicadores
	.highcharts-title
		display none*/
	
.grafico-indicador
	background-color blanco
	border bordergris
	padding-right 0
	padding-left 0
	margin-bottom 30px
	
.titulo-grafico
	font-size 0.7em
	color naranja
	border-bottom bordergris
	padding 10px
	margin-bottom 20px
	a
		color naranja
		text-decoration none
.content-grafico
	h5
		text-align right
		margin-top 0px
		font-weight bold
		
	h1
		margin-bottom 5px
		color naranja
		font-weight bold
		text-align right
		padding-right 40px
.cuadro
	background-color verdetierno
	color blanco
	font-weight bold
	padding 5px
	text-align center
	margin-left 14px
.info-grafico2
	border-right bordergris
	padding-left 0
	padding-right 0
	ul
		padding-right 13px
		padding-left 29px
		li
			list-style none
			font-size 1em
			padding-bottom 15px
			padding-top 15px
			border-bottom bordergris
			&:last-child
				border-bottom 0px
		
			h2
			h3
			h5
				color naranja
				text-align center
			div
				font-size 0.8em
				font-weight bold
				padding-top 20px
				text-align right
#ind-grafico3
	width 98%
	margin 0 auto

.ind-fila4
	margin-bottom 30px
.ind-alimento
	padding 98px 20px
	img
		padding-top 50px
		width: 100%;

.ind-numero
	color verdetierno
	text-align center
	font-size 3em
	font-weight bold

.titulo-contenido
	color verdetierno
	padding-top 20px

.tabla-ingreso
	vertical-align middle
	margin-bottom 0
	tr
		&:nth-child(2n)
			background-color #ebebeb
		&:last-child
			font-weight bold
		td
			text-align center
			&:first-child
				text-align right
				border-right bordergris
				background-color blanco
		th
			text-align center

			&:first-child
				color naranja
				border-right bordergris
				background-color blanco
				text-align right

.tabla-ingreso.table>tbody>tr>td
	border-top 0px !important
.titulo-botonera
	margin-left 1%
	width 100%
	color naranja
	hr
		border-top 3px solid #d1d1d1
		margin-top 10px
	h5
		margin-bottom 0px
		font-weight 600
.botonera
	background-color #e7e6e4
	margin-bottom 150px
	margin-left 1%
	.row
		padding 10px
	a
		background-color #9ac15a
		color blanco
		redondeado 0px
		padding 10px
		margin-top 10px
		margin-bottom 10px
		sombras 5px 5px 0px -2px #88b84f
		font-size 1em
		font-weight bold
		
		&:hover
			font-weight bold
			color blanco
			background-color naranja
			sombras 5px 5px 0px -2px #d46325
		
		&:nth-child(4n+3), &:nth-child(4n+4)
			background-color #7cb4eb
			sombras 5px 5px 0px -2px #6ba7de
			&:hover
				background-color naranja
				sombras 5px 5px 0px -2px #d46325

.list-anos
	margin-top 30px
	border bordergris
	background-color blanco
	padding 10px 0
	.botones-anos
		padding-left 0px
	h5
		color naranja
		text-align right
		margin-top 23px
	.nav-tabs
		border-bottom 0px
		li
			margin 10px 0px
		li.active>a
			background-color verdetierno
			sombras 5px 5px 0px -2px #88b84f
			border 0px
			redondeado 0px
			&:focus
			&:hover
				color blanco
		li a
			background-color naranja
			sombras 5px 5px 0px -2px #d46325
			border 0px
			redondeado 0
			color blanco
			font-weight bold
		
.info-admin
	margin-top 30px
.titulo-info
	font-size 0.9em
	color naranja
	border-bottom bordergris
	padding 10px
	font-weight bold
	text-align center
.finca-datos
	background-color blanco
	border bordergris
	padding 0
	margin-bottom 20px
.ficha-contenido
	padding 20px 30px
	margin-left 0
	margin-right 0
	h5
		font-size 0.8em
	.dato-productor
		background-color #f7f3f0
		padding 10px 20px
		color #61798e
		font-weight bold
		font-size 0.9em
		text-align center

.info-publica
	margin-bottom 100px
	.tab-content
	.ficha-grafico
		background-color blanco
		border bordergris
		padding 0px
.espacio
	margin-bottom 20px	

.ficha-fila1
.ficha-fila2
	width 98%
	margin 0 auto

.ni
.sl
.hd
.gt
	position relative

#baum
	width 100%
	max-height 800px

.badge
	display none
.contenido-galeria
	margin 50px 0
	padding 0
	
.item
	margin-bottom 20px
.custom-html
	padding-top 30px
	a
		text-decoration none
		color blanco
		padding 10px 30px
		background-color naranja
	





















	
@media (min-width: 1200px)
	.contenido-general
	.contenido-indicadores
	.contenido-detallefinca
		width 95%
		margin 25px auto
	.mapa-general
	.tabla-productor
		width 45%
		margin-right 4%
		margin-left 1%
	.mapa-finca
		width 45%
		margin-right 5%
	.grafico5
		width 49%
		margin-right 1%
		
	.ni
		top 350px
		left 53%
	.sl
		top 295px
		left 33%
	.hd
		top 230px
		left 46%
	.gt
		top 200px
		left 30%
	.badge
		display inline-block
	.ind-familia
	.ind-org
		width 30%
		margin-right 3.33%
	.alinear
		width 48%
		margin-left 1%
		margin-right 1%
	.botonera a
		width 23%
		margin-left 1%
		margin-right 1%


@media (max-width: 710px)
	header p
		text-align right
	.btn-filtro
		margin-right 0
		margin-left 1%
	.mapa-general
		margin 20px 0
	.titulo-anos
		text-align center
		font-weight bold
		font-size 0.9em
	.titulo-info
		margin-bottom 10px
	.mapa-finca
		margin-bottom 20px
	.ind-familia
	.ind-org
	.filtros
		margin-bottom 10px
	.info-grafico2
		border-right 0
		padding-right 15px
		ul li
			&:last-child
				border-bottom bordergris
			h5
				font-size 2em
	.ind-alimento
		padding 0px
		
@media (min-width: 992px)
	.alinear
		width 48%
		margin-left 1%
		margin-right 1%
	.botonera a
		width 31.33333%
		margin-left 1%
		margin-right 1%
	.contenido-general
		margin-top 20px
	.mapa-finca
		width 45%
		margin-right 5%