/*variables*/

verdetierno = #93c55e
grisemioscuro = #564843
blanco = #fff
negro = #333
gris = #ccc8c7
naranja = #ed6d16

redondeado()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-o-border-radius arguments
	border-radius arguments
  
sombras()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-o-border-radius arguments
	box-shadow arguments
	
cover()
	-webkit-background-size arguments
	-moz-background-size arguments
	-o-background-size arguments
	background-size arguments
	
body
	margin 0 auto
	font-family 'Open Sans', sans-serif
	font-size 16px
	background-color #f7f3f0
header
	background-color verdetierno

	p
		margin 20px 0px
		padding 0px 30px
	.eli-pad
		padding-left 0px
		padding-right 0px
		p
			font-weight bold
			color blanco
			font-size 1em
.img-logo 
	img
		margin-left: -15px !important;		
.footer
.pie-page
	background-color grisemioscuro
	font-weight bold
	font-size 0.9em
.text-muted
	color #A6A6A6

.simas
	text-align right
	p
		color white
	a
		color verdetierno
/*****filtro index******/
.filtro-index
	background linear-gradient(rgba(58, 47, 44, 0.8), rgba(58, 47, 44, 0.8)
    ),

    url('/static/img/textura-01.png')
	padding 10px
	
.styled-select
	redondeado 5px
	border 2px solid #796f6b
	padding-top 10px
	padding-bottom 10px
		
#id_sexo
	margin-left 10px
#id_organizacion,#id_sexo
	background gris
	width 100%
	padding 5px
	font-size 16px
	line-height 1
	border-radius 0
	height 34px
	-webkit-appearance none
	background gris url("https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-down-01-16.png") no-repeat right center
	background-position 95% 50%
.btn-filtro
	background-color naranja
	redondeado 0px
	color blanco
	font-weight bold
	padding 6px 40px
	&:hover
	&:focus
		color blanco
.eliminar-mar
	margin 0px


.contenedor-index
	background linear-gradient(rgba(0,104,55, 0.5), rgba(0,104,55, 0.5)
    ),

    url('/static/img/fondo.JPG')
	cover cover
	background-repeat no-repeat
	.filtro-index
		margin 0px

.info-index
	margin-top 180px
	margin-bottom 180px
	padding 25px
	text-align center
	background-color rgba(117,197,94, 0.5)
	color blanco
	font-size 0.9em
	hr
		width 50%

.slider
	margin-bottom 10px
/*.bx-prev
	margin-left -7%
.bx-next
	margin-right -6%*/
/*********mapas************/
.filtros
	background-color #453a36
	padding 15px
	.breadcrumb
		background-color transparent
		margin-bottom 0px
		li
			color blanco
.breadcrumb>li+li:before
	content: ">";

/***********tablero***********/
	
.mapa-general
	border 2px solid #d1d1d1
	background-color blanco
	padding 0px
.btn-tgeneral
	padding 13px
	background-color verdetierno
	redondeado 0px
	border 0px
	color blanco
	font-weight bold
	margin 30px auto
	width 85%
	sombras 5px 5px 0px -2px #88b84f
	&:hover
		background-color naranja
		sombras 5px 5px 0px -2px #D46325
		color blanco
		redondeado 0px
		font-weight bold
#grafico1
#grafico2
#grafico3
#grafico4
#grafico5
	background-color blanco
	border 2px solid #d1d1d1
	
#grafico3
#grafico4
	margin-top 20px
.highcharts-title
	font-size 1em !important

.fila2
	margin-top 30px
	margin-bottom 70px
.tabla-productor
	background-color blanco
	border 2px solid #d1d1d1
	padding 0px
	font-size 0.9em
	th
		color naranja
		text-align center
		border-right 2px solid #d1d1d1
		&:last-child
			border-right 0px
	tr
		border-bottom 2px solid #d1d1d1
		text-align center
		vertical-align middle
		td
			border-right 2px solid #d1d1d1
			&:last-child
				border-right 0px
			&:first-child
				color #547287
.sexo
	color verdetierno
	.fa-female:before
	.fa-male:before
		font-size 1.8em
		margin-right 10px
	span
		font-weight 700			

.table>tbody>tr>td
.table>tbody>tr>th
.table>tfoot>tr>td
.table>tfoot>tr>th
.table>thead>tr>td
.table>thead>tr>th
	vertical-align middle !important
.btn-tabla
	width 90%
	background-color naranja
	sombras 5px 5px 0px -2px #D46325
	color blanco
	redondeado 0px
	font-weight bold
	&:hover
		color blanco
		font-weight bold
		background-color verdetierno
		sombras 5px 5px 0px -2px #88b84f








@media (min-width: 1200px)
	.contenido-general
		width 95%
		margin 25px auto
	.mapa-general
	.tabla-productor
		width 45%
		margin-right 4%
		margin-left 1%
	#grafico1
	#grafico2
	#grafico3
	#grafico4
		width 48%
		margin-right 2%
	#grafico5
		width 49%
		margin-right 1%