/*variables*/
body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #f7f3f0;
}
header {
  background-color: #93c55e;
}
header p {
  margin: 20px 0px;
  padding: 0px 30px;
}
header .eli-pad {
  padding-left: 0px;
  padding-right: 0px;
}
header .eli-pad p {
  font-weight: bold;
  color: #fff;
  font-size: 1em;
}
.img-logo img {
  margin-left: -15px !important;
}
.footer {
  background-color: #564843;
  font-weight: bold;
  font-size: 0.9em;
}
.text-muted {
  color: #a6a6a6;
}
.simas {
  text-align: right;
}
.simas p {
  color: #fff;
}
.simas a {
  color: #93c55e;
}
/*****filtro index******/
.filtro-index {
  background: linear-gradient(rgba(58,47,44,0.8), rgba(58,47,44,0.8)), url("/static/img/textura-01.png");
  padding: 10px;
}
.styled-select {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #796f6b;
  padding-top: 10px;
  padding-bottom: 10px;
}
#id_sexo {
  margin-left: 10px;
}
#id_organizacion,
#id_sexo {
  background: #ccc8c7;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  background: #ccc8c7 url("https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-down-01-16.png") no-repeat right center;
  background-position: 95% 50%;
}
.btn-filtro {
  background-color: #ed6d16;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  color: #fff;
  font-weight: bold;
  padding: 6px 40px;
}
.btn-filtro:hover,
.btn-filtro:focus {
  color: #fff;
}
.eliminar-mar {
  margin: 0px;
}
.contenedor-index {
  background: linear-gradient(rgba(0,104,55,0.5), rgba(0,104,55,0.5)), url("/static/img/fondo.JPG");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.contenedor-index .filtro-index {
  margin: 0px;
}
.info-index {
  margin-top: 180px;
  margin-bottom: 180px;
  padding: 25px;
  text-align: center;
  background-color: rgba(117,197,94,0.5);
  color: #fff;
  font-size: 0.9em;
}
.info-index hr {
  width: 50%;
}
.slider {
  margin-bottom: 10px;
}
/*.bx-prev
	margin-left -7%
.bx-next
	margin-right -6%*/
/*********mapas************/
.filtros {
  background-color: #453a36;
  padding: 15px;
}
.filtros .breadcrumb {
  background-color: transparent;
  margin-bottom: 0px;
}
.filtros .breadcrumb li {
  color: #fff;
}
.breadcrumb>li+li:before {
  content: ">";
}
