/*variables*/
body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #f7f3f0;
}
header {
  background-color: #93c55e;
}
header p {
  margin: 20px 0px;
  padding: 0px 30px;
}
header .eli-pad {
  padding-left: 0px;
  padding-right: 0px;
}
header .eli-pad p {
  font-weight: bold;
  color: #fff;
  font-size: 1em;
}
.img-logo img {
  margin-left: -15px !important;
}
.footer,
.pie-page {
  background-color: #564843;
  font-weight: bold;
  font-size: 0.9em;
}
.text-muted {
  color: #a6a6a6;
}
.simas {
  text-align: right;
}
.simas p {
  color: #fff;
}
.simas a {
  color: #93c55e;
}
/*****filtro index******/
.filtro-index {
  background: linear-gradient(rgba(58,47,44,0.5), rgba(58,47,44,0.5)), url("/static/img/textura.png");
  padding: 10px;
}
.styled-select {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #796f6b;
  padding-top: 10px;
  padding-bottom: 10px;
}
#id_sexo {
  margin-left: 10px;
}
#id_organizacion,
#id_sexo {
  background: #ccc8c7;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  background: #ccc8c7 url("https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-down-01-16.png") no-repeat right center;
  background-position: 95% 50%;
}
.btn-filtro {
  background-color: #ed6d16;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  color: #fff;
  font-weight: bold;
  padding: 10px 0px;
  width: 48%;
  margin-right: 1%;
}
.btn-filtro:hover,
.btn-filtro:focus {
  color: #fff;
}
.eliminar-mar {
  margin: 0px;
}
.contenedor-index {
  background: linear-gradient(rgba(0,104,55,0.5), rgba(0,104,55,0.5)), url("/static/img/fondo.JPG");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.contenedor-index .filtro-index {
  margin: 0px;
}
.info-index {
  margin-top: 180px;
  margin-bottom: 180px;
  padding: 25px;
  text-align: center;
  background-color: rgba(117,197,94,0.5);
  color: #fff;
  font-size: 0.9em;
}
.info-index hr {
  width: 50%;
}
.slider {
  margin-bottom: 10px;
}
/*.bx-prev
	margin-left -7%
.bx-next
	margin-right -6%*/
/*********mapas************/
.filtros {
  background-color: #453a36;
  padding: 15px;
  font-size: 0.8em;
}
.filtros .breadcrumb {
  background-color: transparent;
  margin-bottom: 0px;
}
.filtros .breadcrumb li {
  color: #fff;
}
.breadcrumb>li+li:before {
  content: ">";
}
/***********tablero***********/
.mapa-general,
.mapa-finca {
  border: 2px solid #d1d1d1;
  background-color: #fff;
  padding: 0px;
}
.btn-tgeneral {
  padding: 13px;
  background-color: #93c55e;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
  color: #fff;
  font-weight: bold;
  margin: 30px auto;
  width: 85%;
  -webkit-box-shadow: 5px 5px 0px -2px #88b84f;
  -moz-box-shadow: 5px 5px 0px -2px #88b84f;
  -o-border-radius: 5px 5px 0px -2px #88b84f;
  box-shadow: 5px 5px 0px -2px #88b84f;
}
.btn-tgeneral:hover {
  background-color: #ed6d16;
  -webkit-box-shadow: 5px 5px 0px -2px #d46325;
  -moz-box-shadow: 5px 5px 0px -2px #d46325;
  -o-border-radius: 5px 5px 0px -2px #d46325;
  box-shadow: 5px 5px 0px -2px #d46325;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  font-weight: bold;
}
.btn-tgeneral:focus {
  color: #fff;
  background-color: #93c55e;
  -webkit-box-shadow: 5px 5px 0px -2px #88b84f;
  -moz-box-shadow: 5px 5px 0px -2px #88b84f;
  -o-border-radius: 5px 5px 0px -2px #88b84f;
  box-shadow: 5px 5px 0px -2px #88b84f;
}
#grafico5 {
  background-color: #fff;
  border: 2px solid #d1d1d1;
}
#grafico3,
#grafico4 {
  margin-top: 20px;
}
.highcharts-title {
  font-size: 1em !important;
}
.fila1,
.fila2 {
  margin-top: 30px;
  margin-bottom: 70px;
}
.tabla-productor {
  background-color: #fff;
  border: 2px solid #d1d1d1;
  padding: 0px;
  font-size: 0.9em;
}
.tabla-productor th {
  color: #ed6d16;
  text-align: center;
  border-right: 2px solid #d1d1d1;
}
.tabla-productor th:last-child {
  border-right: 0px;
}
.tabla-productor tr {
  border-bottom: 2px solid #d1d1d1;
  text-align: center;
  vertical-align: middle;
}
.tabla-productor tr td {
  border-right: 2px solid #d1d1d1;
}
.tabla-productor tr td:last-child {
  border-right: 0px;
}
.tabla-productor tr td:first-child {
  color: #547287;
}
.sexo {
  color: #93c55e;
}
.sexo .fa-female:before,
.sexo .fa-male:before {
  font-size: 1.8em;
  margin-right: 10px;
}
.sexo span {
  font-weight: 700;
}
.tabla-productor {
  max-height: 405px;
  overflow-y: scroll;
}
.tabla-productor.table>tbody>tr>td,
.tabla-productor.table>tbody>tr>th,
.tabla-productor.table>tfoot>tr>td,
.tabla-productor.table>tfoot>tr>th,
.tabla-productor.table>thead>tr>td,
.tabla-productor.table>thead>tr>th {
  vertical-align: middle !important;
}
.btn-tabla {
  width: 90%;
  background-color: #ed6d16;
  -webkit-box-shadow: 5px 5px 0px -2px #d46325;
  -moz-box-shadow: 5px 5px 0px -2px #d46325;
  -o-border-radius: 5px 5px 0px -2px #d46325;
  box-shadow: 5px 5px 0px -2px #d46325;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  font-weight: bold;
}
.btn-tabla:hover {
  color: #fff;
  font-weight: bold;
  background-color: #93c55e;
  -webkit-box-shadow: 5px 5px 0px -2px #88b84f;
  -moz-box-shadow: 5px 5px 0px -2px #88b84f;
  -o-border-radius: 5px 5px 0px -2px #88b84f;
  box-shadow: 5px 5px 0px -2px #88b84f;
}
/************tablero de indicadores*******************/
.ind-tablero {
  padding-top: 5px;
  padding-bottom: 5px;
}
.numero-encuestas,
.ind-familia,
.ind-org,
.ind-sexo {
  background-color: #4b3f3c;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  font-weight: bold;
  vertical-align: middle;
}
.numero-encuestas {
  background-color: transparent !important;
}
.numero {
  font-size: 2em;
  color: #ed6d16;
  text-align: right;
}
.ind-text {
  margin-top: 15px;
  font-size: 0.8em;
}
.linea {
  border-right: 2px solid #4e2e13;
}
/*.contenido-indicadores
	.highcharts-title
		display none*/
.grafico-indicador {
  background-color: #fff;
  border: 2px solid #d1d1d1;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 30px;
}
.titulo-grafico {
  font-size: 0.7em;
  color: #ed6d16;
  border-bottom: 2px solid #d1d1d1;
  padding: 10px;
  margin-bottom: 20px;
}
.titulo-grafico a {
  color: #ed6d16;
  text-decoration: none;
}
.content-grafico h5 {
  text-align: right;
  margin-top: 0px;
  font-weight: bold;
}
.content-grafico h1 {
  margin-bottom: 5px;
  color: #ed6d16;
  font-weight: bold;
  text-align: right;
  padding-right: 40px;
}
.cuadro {
  background-color: #93c55e;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  margin-left: 14px;
}
.info-grafico2 {
  border-right: 2px solid #d1d1d1;
  padding-left: 0;
  padding-right: 0;
}
.info-grafico2 ul {
  padding-right: 13px;
  padding-left: 29px;
}
.info-grafico2 ul li {
  list-style: none;
  font-size: 1em;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 2px solid #d1d1d1;
}
.info-grafico2 ul li:last-child {
  border-bottom: 0px;
}
.info-grafico2 ul li h2,
.info-grafico2 ul li h3,
.info-grafico2 ul li h5 {
  color: #ed6d16;
  text-align: center;
}
.info-grafico2 ul li div {
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 20px;
  text-align: right;
}
#ind-grafico3 {
  width: 98%;
  margin: 0 auto;
}
.ind-fila4 {
  margin-bottom: 30px;
}
.ind-alimento {
  padding: 98px 20px;
}
.ind-alimento img {
  padding-top: 50px;
  width: 100%;
}
.ind-numero {
  color: #93c55e;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}
.titulo-contenido {
  color: #93c55e;
  padding-top: 20px;
}
.tabla-ingreso {
  vertical-align: middle;
  margin-bottom: 0;
}
.tabla-ingreso tr:nth-child(2n) {
  background-color: #ebebeb;
}
.tabla-ingreso tr:last-child {
  font-weight: bold;
}
.tabla-ingreso tr td {
  text-align: center;
}
.tabla-ingreso tr td:first-child {
  text-align: right;
  border-right: 2px solid #d1d1d1;
  background-color: #fff;
}
.tabla-ingreso tr th {
  text-align: center;
}
.tabla-ingreso tr th:first-child {
  color: #ed6d16;
  border-right: 2px solid #d1d1d1;
  background-color: #fff;
  text-align: right;
}
.tabla-ingreso.table>tbody>tr>td {
  border-top: 0px !important;
}
.titulo-botonera {
  margin-left: 1%;
  width: 100%;
  color: #ed6d16;
}
.titulo-botonera hr {
  border-top: 3px solid #d1d1d1;
  margin-top: 10px;
}
.titulo-botonera h5 {
  margin-bottom: 0px;
  font-weight: 600;
}
.botonera {
  background-color: #e7e6e4;
  margin-bottom: 150px;
  margin-left: 1%;
}
.botonera .row {
  padding: 10px;
}
.botonera a {
  background-color: #9ac15a;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 5px 5px 0px -2px #88b84f;
  -moz-box-shadow: 5px 5px 0px -2px #88b84f;
  -o-border-radius: 5px 5px 0px -2px #88b84f;
  box-shadow: 5px 5px 0px -2px #88b84f;
  font-size: 1em;
  font-weight: bold;
}
.botonera a:hover {
  font-weight: bold;
  color: #fff;
  background-color: #ed6d16;
  -webkit-box-shadow: 5px 5px 0px -2px #d46325;
  -moz-box-shadow: 5px 5px 0px -2px #d46325;
  -o-border-radius: 5px 5px 0px -2px #d46325;
  box-shadow: 5px 5px 0px -2px #d46325;
}
.botonera a:nth-child(4n+3),
.botonera a:nth-child(4n+4) {
  background-color: #7cb4eb;
  -webkit-box-shadow: 5px 5px 0px -2px #6ba7de;
  -moz-box-shadow: 5px 5px 0px -2px #6ba7de;
  -o-border-radius: 5px 5px 0px -2px #6ba7de;
  box-shadow: 5px 5px 0px -2px #6ba7de;
}
.botonera a:nth-child(4n+3):hover,
.botonera a:nth-child(4n+4):hover {
  background-color: #ed6d16;
  -webkit-box-shadow: 5px 5px 0px -2px #d46325;
  -moz-box-shadow: 5px 5px 0px -2px #d46325;
  -o-border-radius: 5px 5px 0px -2px #d46325;
  box-shadow: 5px 5px 0px -2px #d46325;
}
.list-anos {
  margin-top: 30px;
  border: 2px solid #d1d1d1;
  background-color: #fff;
  padding: 10px 0;
}
.list-anos .botones-anos {
  padding-left: 0px;
}
.list-anos h5 {
  color: #ed6d16;
  text-align: right;
  margin-top: 23px;
}
.list-anos .nav-tabs {
  border-bottom: 0px;
}
.list-anos .nav-tabs li {
  margin: 10px 0px;
}
.list-anos .nav-tabs li.active>a {
  background-color: #93c55e;
  -webkit-box-shadow: 5px 5px 0px -2px #88b84f;
  -moz-box-shadow: 5px 5px 0px -2px #88b84f;
  -o-border-radius: 5px 5px 0px -2px #88b84f;
  box-shadow: 5px 5px 0px -2px #88b84f;
  border: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.list-anos .nav-tabs li.active>a:focus,
.list-anos .nav-tabs li.active>a:hover {
  color: #fff;
}
.list-anos .nav-tabs li a {
  background-color: #ed6d16;
  -webkit-box-shadow: 5px 5px 0px -2px #d46325;
  -moz-box-shadow: 5px 5px 0px -2px #d46325;
  -o-border-radius: 5px 5px 0px -2px #d46325;
  box-shadow: 5px 5px 0px -2px #d46325;
  border: 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #fff;
  font-weight: bold;
}
.info-admin {
  margin-top: 30px;
}
.titulo-info {
  font-size: 0.9em;
  color: #ed6d16;
  border-bottom: 2px solid #d1d1d1;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
.titulo-modal {
  font-size: 1em;
  color: #ed6d16;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
.finca-datos {
  background-color: #fff;
  border: 2px solid #d1d1d1;
  padding: 0;
  margin-bottom: 20px;
}
.ficha-contenido {
  padding: 20px 30px;
  margin-left: 0;
  margin-right: 0;
}
.ficha-contenido h5 {
  font-size: 0.8em;
}
.ficha-contenido .dato-productor {
  background-color: #f7f3f0;
  padding: 10px 20px;
  color: #61798e;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
}
.info-publica {
  margin-bottom: 100px;
}
.info-publica .tab-content,
.info-publica .ficha-grafico {
  background-color: #fff;
  border: 2px solid #d1d1d1;
  padding: 0px;
}
.espacio {
  margin-bottom: 20px;
}
.ficha-fila1,
.ficha-fila2 {
  width: 98%;
  margin: 15px auto;
}
.ni,
.sl,
.hd,
.gt {
  position: relative;
}
#baum {
  width: 100%;
  max-height: 800px;
}
.badge {
  display: none;
}
.contenido-galeria {
  margin: 50px 0;
  padding: 0;
}
.item {
  margin-bottom: 20px;
}
.custom-html {
  padding-top: 30px;
}
.custom-html a {
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
  background-color: #ed6d16;
}
.img-mapafinca {
  border: 2px solid #d1d1d1;
}
.img-mapafinca img {
  width: 100%;
  margin-bottom: 15px;
}
.alinearfull {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}
.modal-lg {
  width: 90%;
}
.modal-header {
  border-bottom: 2px solid #d1d1d1;
}
.modal-footer {
  border-top: 2px solid #d1d1d1;
}
.modal-body img {
  width: 100%;
}
.detalle-indicador {
  margin-top: 30px;
  margin-bottom: 60px;
}
/*********lg************/
@media (min-width: 1200px) {
  .contenido-general,
  .contenido-indicadores,
  .contenido-detallefinca {
    width: 95%;
    margin: 25px auto;
  }
  .mapa-general,
  .tabla-productor {
    width: 45%;
    margin-right: 4%;
    margin-left: 1%;
  }
  .grafico5 {
    width: 49%;
    margin-right: 1%;
  }
  .ni {
    top: 350px;
    left: 53%;
  }
  .sl {
    top: 295px;
    left: 33%;
  }
  .hd {
    top: 230px;
    left: 46%;
  }
  .gt {
    top: 200px;
    left: 30%;
  }
  .badge {
    display: inline-block;
  }
  .ind-familia,
  .ind-org {
    width: 30%;
    margin-right: 3.33%;
  }
  .alinear {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .botonera a {
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
/*********md************/
@media (min-width: 992px) {
  .alinear {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .botonera a {
    width: 31.33333%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .contenido-general {
    margin-top: 20px;
  }
}
/*********xs************/
@media (max-width: 710px) {
  header p {
    font-size: 0.9em;
    text-align: left;
  }
  .btn-filtro {
    margin-right: 0;
    margin-left: 1%;
  }
  .mapa-general {
    margin: 20px 0;
  }
  .titulo-anos {
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
  }
  .titulo-info {
    margin-bottom: 10px;
  }
  .mapa-finca {
    margin-bottom: 20px;
  }
  .ind-familia,
  .ind-org,
  .filtros {
    margin-bottom: 10px;
  }
  .info-grafico2 {
    border-right: 0;
    padding-right: 15px;
  }
  .info-grafico2 ul li:last-child {
    border-bottom: 2px solid #d1d1d1;
  }
  .info-grafico2 ul li h5 {
    font-size: 2em;
  }
  .ind-alimento {
    padding: 0px;
  }
  .list-anos h5 {
    text-align: center;
  }
}
