{% extends "base.html" %}

{% block extra_js %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialize() {
  	var styles = [
  {
    featureType: 'administrative.province',
    elementType: 'geometry',
    stylers: [
      { color: '#000000' }
    ]
  }
];
	var styledMap = new google.maps.StyledMapType(styles,{name: "Styled Map"});

  	var mapCanvas = document.getElementById('map-canvas');
  	var mapOptions = {
      center: new google.maps.LatLng({{latitud}}, {{longitud}}),
      zoom: 9,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
    map.mapTypes.set('map_style', styledMap);
    map.setMapTypeId('map_style');
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock extra_js %}

{% block contenido %}
 <style>
      #map-canvas {
        width: 500px;
        height: 400px;
        background-color: #CCC;
      }
    </style>
	{% include "filtros.html" %}
	{# mapa #}
	<div class="row">
		<h1>Mapa</h1>
		<div id="map-canvas"></div>
	</div>
	{# indicadores #}
	<div class="row">
		<h1>indicadores</h1>
	</div>
	{# fichas familia #}
	<div class="row">
		<h1>Miembros familiares</h1>
    {% for obj in ahora %}
      <ul>
        <li>{{obj.entrevistado}} || {{obj.entrevistado.finca}} | <a class='btn' href="{% url 'detalle-finca' obj.entrevistado.id %}">Detalle</a></li>
      </ul>
    {% endfor %}
	</div>
	{# clima #}
	<div class="row">
		<h1>Clima</h1>
	</div>
{% endblock contenido %}