{% extends "base.html" %}

{% block extra_js %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialize() {
  	var styles = [
  {
    featureType: 'administrative.province',
    elementType: 'geometry',
    stylers: [
      { color: '#000000' }
    ]
  }
];
	var styledMap = new google.maps.StyledMapType(styles,{name: "Styled Map"});

  	var mapCanvas = document.getElementById('map-canvas');
  	var mapOptions = {
      center: new google.maps.LatLng({{latitud}}, {{longitud}}),
      zoom: 9,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
    map.mapTypes.set('map_style', styledMap);
    map.setMapTypeId('map_style');
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
// estos son los graficos de clima y indicadores
<script>
    $(function () {
    $('#container').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Average Monthly Temperature and Rainfall in Tokyo'
        },
        subtitle: {
            text: 'Source: WorldClimate.com'
        },
        xAxis: [{
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            crosshair: true
        }],
        yAxis: [{ // Primary yAxis
            labels: {
                format: '{value}°C',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: 'Temperature',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            }
        }, { // Secondary yAxis
            title: {
                text: 'Rainfall',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            labels: {
                format: '{value} mm',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            opposite: true
        }],
        tooltip: {
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            x: 120,
            verticalAlign: 'top',
            y: 100,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        series: [{
            name: 'Rainfall',
            type: 'column',
            yAxis: 1,
            data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
            tooltip: {
                valueSuffix: ' mm'
            }

        }, {
            name: 'Temperature',
            type: 'spline',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
            tooltip: {
                valueSuffix: '°C'
            }
        }]
    });
});
</script>
{% endblock extra_js %}

{% block contenido %}
 <style>
      #map-canvas {
        width: 500px;
        height: 400px;
        background-color: #CCC;
      }
    </style>
	{% include "filtros.html" %}
	{# mapa #}
	<div class="row">
		<h1>Mapa</h1>
		<div id="map-canvas"></div>
    <br>
    <a class='btn btn-default' href="/indicadores/">Tablero de indicadores</a>
	</div>
	{# indicadores #}
	<div class="row">
		<h1>indicadores</h1>
	</div>
	{# fichas familia #}
	<div class="row">
		<h1>Miembros familiares</h1>
    {% for obj in ahora %}
      <ul>
        <li>{{obj.entrevistado}} || {{obj.entrevistado.finca}} | <a class='btn' href="{% url 'detalle-finca' obj.entrevistado.id %}">Detalle</a></li>
      </ul>
    {% endfor %}
	</div>
	{# clima #}
	<div class="row">
		<h1>Clima</h1>
    <div id='container'></div>
	</div>
{% endblock contenido %}