{% extends "base.html" %}
{% block extra_js %}
	<link type="text/css" rel="stylesheet" href="/static/css/lightGallery.css" />                    
	<script src="/static/js/lightGallery.js"></script>
	
<script type="text/javascript">
$(document).ready(function() {
	
    $('#lightGallery').lightGallery({
        cssEasing:'cubic-bezier(0.680, -0.550, 0.265, 1.550)',
        closable:false,
        enableTouch: false,
        enableDrag: false,
        loop:true,
        speed:1500
    });
    
});

</script>
{% endblock extra_js %}
{% block contenido %}
<div class="row contenido-galeria">

	<div id="lightGallery">

	  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item" data-src="/static/img/text2.png"
	  data-sub-html="<div class='custom-html'><a class='ver-detalle' href='/'>ver detalle</a></div>">
	      <img class="center-block" src="/static/img/text.png" />
	  </div>

	  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item" data-src="/static/img/text2.png">
	      <img class="center-block" src="/static/img/text.png" />
	  </div>

	  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item" data-src="/static/img/text2.png">
	      <img class="center-block" src="/static/img/text.png" />
	  </div>

	  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item" data-src="/static/img/text2.png">
	      <img class="center-block" src="/static/img/text.png" />
	  </div>

	  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item" data-src="/static/img/text2.png">
	      <img class="center-block" src="/static/img/text.png" />
	  </div>

	  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item" data-src="/static/img/text2.png">
	      <img class="center-block" src="/static/img/text.png" />
	  </div>

	  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item" data-src="/static/img/text2.png">
	      <img class="center-block" src="/static/img/text.png" />
	  </div>

	  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item" data-src="/static/img/text2.png">
	      <img class="center-block" src="/static/img/text.png" />
	  </div>
	  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item" data-src="/static/img/text2.png">
	      <img class="center-block" src="/static/img/text.png" />
	  </div>
	  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item" data-src="/static/img/text2.png">
	      <img class="center-block" src="/static/img/text.png" />
	  </div>
	  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item" data-src="/static/img/text2.png">
	      <img class="center-block" src="/static/img/text.png" />
	  </div>
	  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item" data-src="/static/img/text2.png">
	      <img class="center-block" src="/static/img/text.png" />
	  </div>

	  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item" data-src="/static/img/text2.png">
	      <img class="center-block" src="/static/img/text.png" />
	  </div>
	  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item" data-src="/static/img/text2.png">
	      <img class="center-block" src="/static/img/text.png" />
	  </div>
	</div>

	<nav class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>
{% endblock contenido %}