{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags %}
{% block extra_js %}
	<script type="text/javascript" src="/static/js/bootstrap-multiselect.js"></script>
	<link type="text/css" rel="stylesheet" href="/static/css/lightGallery.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/galeria.css" />                       
	<script src="/static/js/lightGallery.js"></script>

	
<script type="text/javascript">
$(document).ready(function() {
	
    $('#lightGallery').lightGallery({
        cssEasing:'cubic-bezier(0.680, -0.550, 0.265, 1.550)',
        closable:false,
        enableTouch: false,
        enableDrag: false,
        loop:true,
        speed:1500
    });
    
});
$( "#id_fecha" ).addClass( "form-control" );
$( "#id_pais" ).addClass( "form-control" );
$( "#id_organizacion" ).addClass( "form-control" );
$('#id_organizacion').multiselect();
</script>
<script>

$(function(){
var n=$( ".item" ).length;

if (n<12) {
	$("footer").css({"position": "absolute"});
	};
});

</script>
{% endblock extra_js %}
{% block contenido %}
<style type="text/css">

@media (min-width: 768px){

	footer{
		position: relative;
		bottom: 0px;
		width: 100%;
	}
}
@media (min-width: 992px){
	footer{
		position: relative;
		bottom: 0px;
		width: 100%;
	}
}
@media (min-width: 1200px){
	footer{
		position: relative;
		bottom: 0px;
		width: 100%;
	}
}	
</style>
<div class="row filtro-index">
	<div class="container">
		<form class="form-inline" action="." method="POST"> {% csrf_token %}
		
		 	<div class="form-group">
			    <label for="">{{form.fecha.label}}</label>
				{{form.fecha}}
		     </div>
		     <div class="form-group">
		     	<label for="">{{form.pais.label}}</label>
		     	{{form.pais}}
		     </div>
		     <div class="form-group">
		     	<label for="">{{form.organizacion.label}}</label>
		     	{{form.organizacion}}
		     </div>
		     <input type="submit" value="Consultar" class="btn btn-form" name="consulta"/>
	     </form>
	</div>


	
</div>

<div class="row contenido-galeria">

	{% paginate object_list %}
	<div id="lightGallery">
 	{% for obj in object_list %}
	  	{% if obj.mapa_finca %}
	  		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item" 
			{% thumbnail obj.mapa_finca "800x500" as im %}
                data-src="/media/{{im}}"
            {% endthumbnail %}
	  		data-sub-html="{% if  request.user.is_authenticated %} <div class='custom-html'><a class='ver-detalle' href='/finca/{{obj.entrevistado.id}}'>ver detalle</a></div> {% endif %}">
		  		{% thumbnail obj.mapa_finca "200x125" as im %}
			  		<figure class="prueba">
		                <img class="center-block" src="/media/{{im}}" />
		                <i class="fa fa-search"></i>
		  				<a href="#"></a>
		            </figure>

	            {% endthumbnail %}
	            	<div class="g-datos">
		            	<span>
		            		{{obj.fecha|date:"d M Y"}}
		            		
		            	</span>
		            	<span class="g-pais">
		            		{{obj.entrevistado.pais}}
		            	</span>
		            </div>
	            
	      		
	  		</div>
	  	{% else %}
	  		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item" 
			{% thumbnail obj.mapa_finca "800x500" as im %}
                data-src="http://placehold.it/800x500"
            {% endthumbnail %}
	  		data-sub-html="{% if  request.user.is_authenticated %} <div class='custom-html'><a class='ver-detalle' href='/finca/{{obj.entrevistado.id}}'>ver detalle</a></div> {% endif %}">
		  		
			  		<figure class="prueba">
		                <img class="center-block" src="http://placehold.it/200x125" />
		                <i class="fa fa-search"></i>
		  				<a href="#"></a>
		            </figure>
		            <div class="g-datos">
		            	<span>
		            		{{obj.fecha|date:"d M Y"}}
		            		
		            	</span>
		            	<span class="g-pais">
		            		{{obj.entrevistado.pais}}
		            	</span>
		            </div>
	          
	      
	  		</div>
	  	{% endif %}

	  	
	{% endfor %}
	  
	</div>

	
</div>
<div class="text-center">
	<ul class="pagination">
	   <li>{% show_pages %}</li>
	</ul>
</div>
{% endblock contenido %}