{% extends "base.html" %}
{% load thumbnail %}
{% load endless %}
{% block extra_js %}
	<link type="text/css" rel="stylesheet" href="/static/css/lightGallery.css" />                    
	<script src="/static/js/lightGallery.js"></script>
	
<script type="text/javascript">
$(document).ready(function() {
	
    $('#lightGallery').lightGallery({
        cssEasing:'cubic-bezier(0.680, -0.550, 0.265, 1.550)',
        closable:false,
        enableTouch: false,
        enableDrag: false,
        loop:true,
        speed:1500
    });
    
});

</script>
{% endblock extra_js %}
{% block contenido %}
<div class="row contenido-galeria">
	{% paginate object_list %}
	<div id="lightGallery">
 	{% for obj in object_list %}
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item" 
			{% thumbnail obj.mapa_finca "800x500" as im %}
                data-src="/media/{{im}}"
            {% endthumbnail %}
	  		data-sub-html="<div class='custom-html'><a class='ver-detalle' href='/finca/{{obj.entrevistado.id}}'>ver detalle</a></div>">
	  		{% thumbnail obj.mapa_finca "200x125" as im %}
                <img class="center-block" src="/media/{{im}}" />
            {% endthumbnail %}
	      
	  	</div>
	{% endfor %}
	  
	</div>

	<nav class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
	  <ul class="pagination">
	   <li>{% show_pages %}</li>
	  </ul>
	</nav>
</div>
{% endblock contenido %}