
		
		<div class="container-fluid">
		    <div class="botonera">
				<div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
					<a class="btn" href="/jefe_sexo/">Propiedad</a>
				</div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/escolaridad/">Escolaridad</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/energia/">Energía en el hogar</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/agua/">Agua y saneamiento</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/organizaciones/">Organización social</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/tierra/">Uso de Tierra</a>		
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/ciclos-productivos/">Ciclos productivos</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/practicas/">Prácticas agroecológicas</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/ingresos/">Ingresos del hogar</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/gastos/">Gastos en el hogar</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/prestamos/">Acceso a crédito</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		       		<a class="btn" href="/seguridad/">Seguridad Alimentaria</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/calorias/">Calorías en el hogar</a>
		        </div>
 				<div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/genero/">Género</a>
		        </div>
		    </div>
	
		</div>