<div class="botonera row">
		<div class="col-md-12 col-lg-12 ">
		    <div class="row">

		        <a class="btn col-xs-12 col-ms-6 col-md-4 col-lg-3" href="/jefe_sexo/">Dueño del hogar</a>

		        <a class="btn col-xs-12 col-ms-6 col-md-4 col-lg-3" href="/escolaridad/">Escolaridad</a>
		        <a class="btn col-xs-12 col-ms-6 col-md-4 col-lg-3" href="/energia/">Energia viviendas</a>
		        <a class="btn col-xs-12 col-ms-6 col-md-4 col-lg-3" href="/agua/">Acceso al agua</a>
		        <a class="btn col-xs-12 col-ms-6 col-md-4 col-lg-3" href="/organizaciones/">Organización</a>
		        <a class="btn col-xs-12 col-ms-6 col-md-4 col-lg-3" href="/tierra/">Uso de Tierra</a>
		        <a class="btn col-xs-12 col-ms-6 col-md-4 col-lg-3" href="/practicas/">Prácticas agroecológicas</a>
		        <a class="btn col-xs-12 col-ms-6 col-md-4 col-lg-3" href="/seguridad/">Seguridad Alimentaria</a>
		    </div>
		</div>
	</div>
