
		
		<div class="container-fluid">
		    <div class="botonera">
				<div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
					<a class="btn" href="/jefe_sexo/">Dueño del hogar</a>
				</div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/escolaridad/">Escolaridad</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/energia/">Energia viviendas</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/agua/">Acceso al agua</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/organizaciones/">Organización</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/tierra/">Uso de Tierra</a>		
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/prestamos/">crédito</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/practicas/">Prácticas agroecológicas</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		       		<a class="btn" href="/seguridad/">Seguridad Alimentaria</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/genero/">Género</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/ingresos/">Ingresos</a>
		        </div>
		        <div class="col-xs-12 col-ms-6 col-md-4 col-lg-3">
		        	<a class="btn" href="/gastos/">Gastos en el hogar</a>
		        </div>
 
		    </div>
	
		</div>