{% extends "base.html" %}

{% block extra_js %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/exporting.js"></script>
<script type="text/javascript">
	$(function () {
    // Create the chart
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Indique la forma que accede al agua para consumo humano'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencias'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: "",
            colorByPoint: true,
            data: [
            {% for k,v in grafo_agua_consumo.items %}
            	{
                	name: "{{k}}",
                	y: {{v}},
            	},
            {% endfor %}
            ]
        }],
    });

	// Create the chart
    $('#container1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Mencione la disponibilidad del agua para consumo humano (en verano)'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencias'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: "",
            colorByPoint: true,
            data: [
            {% for k,v in grafo_agua_disponibilidad.items %}
            	{
                	name: "{{k}}",
                	y: {{v}},
            	},
            {% endfor %}
            ]
        }],
    });

	// Create the chart
    $('#container2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Según Usted, cómo es la calidad del agua que consume'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencias'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: "",
            colorByPoint: true,
            data: [
            {% for k,v in grafo_agua_calidad.items %}
            	{
                	name: "{{k}}",
                	y: {{v}},
            	},
            {% endfor %}
            ]
        }],
    });

	// Create the chart
    $('#container3').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'En caso de que esté contaminada, señala posibles causas'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencias'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: "",
            colorByPoint: true,
            data: [
            {% for k,v in grafo_agua_contaminada.items %}
            	{
                	name: "{{k}}",
                	y: {{v}},
            	},
            {% endfor %}
            ]
        }],
    });

	// Create the chart
    $('#container4').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Realiza algún tratamiento al agua de consumo'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencias'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: "",
            colorByPoint: true,
            data: [
            {% for k,v in grafo_agua_tratamiento.items %}
            	{
                	name: "{{k}}",
                	y: {{v}},
            	},
            {% endfor %}
            ]
        }],
    });


    // Create the chart
    $('#container5').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Indique qué otros usos le dan al agua en la finca'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencias'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: "",
            colorByPoint: true,
            data: [
            {% for k,v in grafo_agua_usos.items %}
                {
                    name: "{{k}}",
                    y: {{v}},
                },
            {% endfor %}
            ]
        }],
    });

});
</script>
{% endblock extra_js %}

{% block contenido %}
{% include "breadcrumb.html" %}
<div class="container">
<br>
<div class="row">
    <div class="col-md-6"><div id="container" style="height: 400px;"></div></div>
    <div class="col-md-6"><div id="container1" style="height: 400px;"></div></div>
</div>
<br><br>
<div class="row">
  <div class="col-md-6"><div id="container2" style="height: 400px;"></div></div>
  <div class="col-md-6"><div id="container3" style="height: 400px;"></div></div>
</div>
<br><br>
<div class="row">
  <div class="col-md-6"><div id="container4" style="height: 400px;"></div></div>
  <div class="col-md-6"><div id="container5" style="height: 400px;"></div></div>
</div>
</div>
<br><br>
{% include "menu_indicadores.html" %}
{% endblock contenido %}
