{% extends "base.html" %}

{% block extra_js %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/exporting.js"></script>
<script type="text/javascript">
$(function () {
    // Create the chart
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '¿Qué tipo de energía utiliza para alumbrar la vivienda?'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencias'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: "",
            colorByPoint: true,
            data: [
            {% for k,v in grafo_tipo_energia.items %}
            	{
                	name: "{{k}}",
                	y: {{v}},
            	},
            {% endfor %}
            ]
        }],
    });

	// Create the chart
    $('#container1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'En el caso que tenga panel solar, cuál es el fin'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencias'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: "",
            colorByPoint: true,
            data: [
            {% for k,v in grafo_panel_solar.items %}
            	{
                	name: "{{k}}",
                	y: {{v}},
            	},
            {% endfor %}
            ]
        }],
    });

	// Create the chart
    $('#container2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Mencione el tipo de fuente de energía utiliza para cocinar'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencias'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: "",
            colorByPoint: true,
            data: [
            {% for k,v in grafo_fuente_energia.items %}
            	{
                	name: "{{k}}",
                	y: {{v}},
            	},
            {% endfor %}
            ]
        }],
    });

	// Create the chart
    $('#container3').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Mencione el tipo de cocina que utiliza para cocinar'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencias'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: "",
            colorByPoint: true,
            data: [
            {% for k,v in grafo_tipo_cocina.items %}
            	{
                	name: "{{k}}",
                	y: {{v}},
            	},
            {% endfor %}
            ]
        }],
    });

});
</script>
{% endblock extra_js %}

{% block contenido %}
{% include "breadcrumb.html" %}
<div class="container">
<br>
<div class="row">
    <div class="col-md-6"><div id="container" style="height: 400px;"></div></div>
    <div class="col-md-6"><div id="container1" style="height: 400px;"></div></div>
</div>
<br><br>
<div class="row">
  <div class="col-md-6"><div id="container2" style="height: 400px;"></div></div>
  <div class="col-md-6"><div id="container3" style="height: 400px;"></div></div>
</div>
</div>
<br><br>
{% include "menu_indicadores.html" %}
{% endblock contenido %}
