{% extends "base.html" %}

{% block extra_js %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

{% for k,v in dicc_escolaridad.items %}
<script>
$(function () {
    $('#container-{{k}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Cantidad de miembros del hogar que poseen algun tipo de educación (hombre jefe)'
        },
        yAxis: {
            title: {
                text: 'Valores'
            }
        },
        credits: {
            enabled: false
        },
        yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (%)'
                }
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
        series: [
                {% for value in v.2 %}
                {
                    name: '{{value.0}}',
                    data: [{{value.1}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}
                ]
    });
//grafo mujer
     $('#container1-{{k}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Cantidad de miembros del hogar que poseen algun tipo de educación (mujer jefe)'
        },
        yAxis: {
            title: {
                text: 'Valores'
            }
        },
        credits: {
            enabled: false
        },
        yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (%)'
                }
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
        series: [
                {% for value in v.3 %}
                {
                    name: '{{value.0}}',
                    data: [{{value.1}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}
                ]
    });
});
</script>
{% endfor %}
{% endblock extra_js %}

{% block contenido %}
{% include "breadcrumb.html" %}
<div class="container">

    <div class="row list-anos">
        <div class="panel-group panel-indicadores" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title titulo-indicador">
                        <ol class="breadcrumb">
                            <li>
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Indicadores
                                </a>
                            </li>
                            <li>
                                Escolaridad
                            </li>
                        </ol>

                    </h4>
                 </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        {% include "menu_indicadores.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 titulo-anos">
            <h5>SELECCIONAR AÑO:</h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 botones-anos">
            <ul class="nav nav-tabs row" role="detalle">
              {% for k,v in dicc_escolaridad.items %}

                 <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2 {% if forloop.counter == 1 %}active{% endif %}" role="presentation">
                    <a class="btn btn-anos" href="#home-{{k}}" aria-controls="home{{forloop.counter}}" role="tab" data-toggle="tab">{{k}}</a>
                 </li>
              {% endfor %}

            </ul>

        </div>
    </div>
<!-- Tab panes -->
    <div class="row info-publica">
        <div class="tab-content">
          {% for k,v in dicc_escolaridad.items %}
            <div role="tabpanel" class="tab-pane fade {% if forloop.counter == 1 %}in active{% endif %}" id="home-{{k}}">
                <div class="container">
                    <div class="row fila-grafico1">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 space">
                             <div class="grafico-ind" id="container-{{k}}" style="min-width: 310px; height: 400px; width: 550px; margin: 0 auto"></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 space">
                            <div class="grafico-ind" id="container1-{{k}}" style="min-width: 310px; height: 400px; width: 550px; margin: 0 auto"></div>
                        </div>
                    </div>
                    <div class="row fila-grafico">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 space">
                         <div>
                                <a href="#" onclick="exportarXLS('modalidad'); return false;">Exportar a excel</a>
                            </div>
                            <div class="table-responsive" id="modalidad">
                                <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <caption>Escolaridad cuando el hombre es jefe</caption>
                                    <thead>
                                        <tr>
                                            <th>Edades</th>
                                            <th>Número total</th>
                                            <th>No sabe leer %</th>
                                            <th>Primaria incompleta %</th>
                                            <th>Primaria completa %</th>
                                            <th>Secundaria incompleta %</th>
                                            <th>Bachiller %</th>
                                            <th>Universitario %</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for fila in v.0%}
                                        <tr>
                                            {%for celda in fila %}
                                            <td>{{celda|default:'0'}}</td>
                                            {%endfor%}
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 space">
                         <div>
                                <a href="#" onclick="exportarXLS('modalidad1'); return false;">Exportar a excel</a>
                            </div>
                            <div class="table-responsive" id="modalidad1">
                                <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                        <caption>Escolaridad cuando la mujer es jefe</caption>
                                        <thead>
                                            <tr>
                                                <th>Edades</th>
                                                <th>Número total</th>
                                                <th>No sabe leer %</th>
                                                <th>Primaria incompleta %</th>
                                                <th>Primaria completa %</th>
                                                <th>Secundaria incompleta %</th>
                                                <th>Bachiller %</th>
                                                <th>Universitario %</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for fila in v.1%}
                                            <tr>
                                                {%for celda in fila %}
                                                <td>{{celda|default:'0'}}</td>
                                                {%endfor%}
                                            </tr>
                                            {%endfor%}
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div> <!-- fin el row inicial -->
            </div> <!-- role tabpanel -->
          {% endfor %}
          </div>
        </div><!-- fin del container -->
    </div>

{% endblock contenido %}
