{% extends "base.html" %}

{% load helpertags %}

{% block extra_js %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

{% for key,value  in dicc_genero.items %}
<script type="text/javascript">
$(function () {
$('#container-{{key}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: '¿Tiene crédito a nombre de la mujer (compañera del jefe del hogar)? '
        },
        credits: {
            enabled: false
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    distance: -30,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: "",
            colorByPoint: true,
            data: [ {% for k,v  in  value.1.items %}
                        {
                            name: "{{k}}",
                            y: {{v}}
                        },
                        {% endfor %}
                    ]
        }]
    });

$('#container2-{{key}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'La mujer (compañera del jefe del hogar) pertenece a algún tipo de organización?'
        },
        subtitle: {
            text: ''
        },
        credits: {
            enabled: false
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencias'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: "",
            colorByPoint: true,
            data: [
            {% for k,v in value.3.items %}
                {
                    name: "{{k}}",
                    y: {{v}},
                },
            {% endfor %}
            ]
        }],
    });

$('#container3-{{key}}').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Tipo organización que participa mujer (mujer jefe de familia)'
            },
            credits: {
            enabled: false
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    //distance: -30,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
            series: [{
                name: 'Organización',
                colorByPoint: true,
                data: [
                {% for k,v in value.4.items %}
                    {
                    name: '{{k}}',
                    y: {{v}}
                },
                {% endfor %}
                ]
            }]
        });
});
</script>
{% endfor %}
{% endblock extra_js %}

{% block contenido %}
{% include "breadcrumb.html" %}
<div class="container">
<br>
<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
  {% for k,v in dicc_genero.items %}
    <li role="presentation" class="{% if forloop.counter == 1 %}active{% endif %}"><a href="#home-{{k}}" aria-controls="home" role="tab" data-toggle="tab">{{k}}</a></li>
    {% endfor %}
  </ul>

<!-- Tab panes -->
  <div class="tab-content">
  {% for k,v in dicc_genero.items %}
    <div role="tabpanel" class="tab-pane fade {% if forloop.counter == 1 %}in active{% endif %}" id="home-{{k}}">
<div class="row">
  <div class="col-md-6"><div id="container-{{k}}" style="height: 400px;"></div></div>
  <div class="col-md-6">
   <table class="table">
            <tr>
                <th>Bienes</th>
                <th>Si</th>
                <th>No</th>
            </tr>
            {% for k,v in v.2.items %}
                <tr>
                    <td>{{k}}</td>
                    <td>{{v.0}}</td>
                    <td>{{v.1}}</td>
                </tr>
            {% endfor %}
        </table>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-6"><div id="container2-{{k}}" style="height: 400px;"></div></div>
  <div class="col-md-6"><div id="container3-{{k}}" style="height: 400px;"></div></div>
</div>
<div class="row">
    <div class="col-md-6">
   <table class="table">
        <caption>Mujeres con nivel de escolaridad</caption>
        <thead>
            <tr>
                <th>Nivel escolaridad</th>
                <th>Frecuencia</th>
                <th>Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in v.5.items%}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
                <td>{{value|calculaperct:request.session.encuestados|floatformat:2}} %</td>
            </tr>
            {%endfor%}
        <tbody>
    </table>
  </div>
</div>
</div> <!-- role tabpanel -->
  {% endfor %}
  </div>
</div> <!-- fin container -->
<br><br>
{% include "menu_indicadores.html" %}
{% endblock contenido %}
