{% extends "base.html" %}

{% load helpertags %}

{% block contenido %}
<br>
<div class="row">
<div class="col-md-6">
    <table class="table">
        <caption>Los cultivos tradicionales</caption>
        <thead>
            <tr>
                <th>Rubro</th>
            	<th>Unidad de medida</th>
            	<th>Cantidad cosechada</th>
            	<th>Cantidad vendida</th>
            	<th>Precio de venta</th>
            	<th>Ingreso</th>
            	<th>Costo</th>
            	<th>Utilidad o perdida</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in ingreso_cultivo_tradicional.items%}
            <tr>
                <td>{{key}}</td>
            	<td>{{value.unidad}}</td>
            	<td>{{value.cantidad_cosechada|default:0}}</td>
            	<td>{{value.venta|default:0}}</td>
            	<td>{{value.precio|floatformat:1|default:0}}</td>
            	<td>{{value.ingreso|floatformat:1|default:0}}</td>
            	<td>{{value.costo|floatformat:1|default:0}}</td>
            	<td>{{value.ingreso|calculaUtilidad:value.costo|default:0|floatformat:1}}</td>
            </tr>
            {%endfor%}
        <tbody>
    </table>
    </div>
<div class="col-md-6">
    <table class="table">
        <caption>Los cultivos huertos de la finca</caption>
        <thead>
            <tr>
                <th>Rubro</th>
                <th>Unidad de medida</th>
                <th>Cantidad cosechada</th>
                <th>Cantidad vendida</th>
                <th>Precio de venta</th>
                <th>Ingreso</th>
                <th>costo</th>
                <th>utilidad</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in ingreso_huertos.items%}
            <tr>
                <td>{{key}}</td>
                <td>{{value.unidad}}</td>
                <td>{{value.cantidad_cosechada|default:0}}</td>
                <td>{{value.venta|default:0}}</td>
                <td>{{value.precio|floatformat:1|default:0}}</td>
                <td>{{value.ingreso|floatformat:1|default:0}}</td>
            </tr>
            {%endfor%}
        <tbody>
        <tr>
            <th>TOTALES</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{ingreso_patio|floatformat:1}}</th>
            <th>{{costo_huerto|floatformat:1}}</th>
            <th>{{ingreso_patio|calculaUtilidad:costo_huerto|floatformat:1}}</th>
        </tr>
    </table>
    </div>

<div class="col-md-6">
    <table class="table">
        <caption>Los frutales en la finca</caption>
        <thead>
            <tr>
                <th>Rubro</th>
                <th>Unidad de medida</th>
                <th>Cantidad cosechada</th>
                <th>Cantidad vendida</th>
                <th>Precio de venta</th>
                <th>Ingreso</th>
                <th>costo</th>
                <th>utilidad</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in ingreso_frutales.items%}
            <tr>
                <td>{{key}}</td>
                <td>{{value.unidad}}</td>
                <td>{{value.cantidad_cosechada|default:0}}</td>
                <td>{{value.venta|default:0}}</td>
                <td>{{value.precio|floatformat:1|default:0}}</td>
                <td>{{value.ingreso|floatformat:1|default:0}}</td>
            </tr>
            {%endfor%}
        <tbody>
        <tr>
            <th>TOTALES</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{ingreso_fruta|floatformat:1}}</th>
            <th>{{costo_fruta|floatformat:1}}</th>
            <th>{{ingreso_fruta|calculaUtilidad:costo_fruta|floatformat:1}}</th>
        </tr>
    </table>
    </div>
<div class="col-md-6">
    <table class="table">
        <caption>Tenencia de animales en la finca</caption>
        <thead>
            <tr>
                <th>Rubro</th>
                <th>Cantidad de animales</th>
                <th>Cantidad vendida</th>
                <th>Precio de venta</th>
                <th>Ingreso</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in ingreso_ganaderia.items%}
            <tr>
                <td>{{key}}</td>
                <td>{{value.cantidad|default:0|floatformat:1}}</td>
                <td>{{value.venta|default:0}}</td>
                <td>{{value.precio|floatformat:1|default:0}}</td>
                <td>{{value.ingreso|floatformat:1|default:0}}</td>
            </tr>
            {%endfor%}
        <tbody>
    </table>
    </div>

<div class="col-md-6">
    <table class="table">
        <caption>Comercialización de los productos procesados</caption>
        <thead>
            <tr>
                <th>Rubro</th>
                <th>Unidad de medida</th>
                <th>Cantidad cosechada</th>
                <th>Cantidad vendida</th>
                <th>Precio de venta</th>
                <th>Ingreso</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in ingreso_procesado.items%}
            <tr>
                <td>{{key}}</td>
                <td>{{value.unidad}}</td>
                <td>{{value.cantidad|default:0|floatformat:1}}</td>
                <td>{{value.venta|default:0}}</td>
                <td>{{value.precio|floatformat:1|default:0}}</td>
                <td>{{value.ingreso|floatformat:1|default:0}}</td> 
            </tr>
            {%endfor%}
        <tbody>
    </table>
    </div>


</div>
<br><br>
{% include "menu_indicadores.html" %}
{% endblock contenido %}
