{% extends "base.html" %}

{% load helpertags %}
{% load humanize %}

{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock extra_js %}

{% block contenido %}
{% include "breadcrumb.html" %}
<br>
<div class="container">
<br>
<!-- Nav tabs -->

    <div class="row list-anos">
        <div class="panel-group panel-indicadores" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title titulo-indicador">
                        <ol class="breadcrumb">
                            <li>
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Indicadores
                                </a>
                            </li>
                            <li>
                                Ingresos
                            </li>
                        </ol>

                    </h4>
                 </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        {% include "menu_indicadores.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 titulo-anos">
            <h5>SELECCIONAR AÑO:</h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 botones-anos">
            <ul class="nav nav-tabs row" role="detalle">
              {% for k,v in dicc_ingresos.items %}

                 <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2 {% if forloop.counter == 1 %}active{% endif %}" role="presentation">
                    <a class="btn btn-anos" href="#home-{{k}}" aria-controls="home{{forloop.counter}}" role="tab" data-toggle="tab">{{k}}</a>
                 </li>
              {% endfor %}

            </ul>

        </div>
    </div>
  <!-- Tab panes -->
    <div class="row info-publica">
        <div class="tab-content">
           {% for k,v in dicc_ingresos.items %}
            <div role="tabpanel" class="tab-pane fade {% if forloop.counter == 1 %}in active{% endif %}" id="home-{{k}}">
                <div class="container">
                    <div class="row fila-grafico1">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 space">
                         <div>
                                <a href="#" onclick="exportarXLS('modalidad'); return false;">Exportar a excel</a>
                            </div>
                             <div class="table-responsive" id="modalidad">
                                <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <caption>Los cultivos tradicionales</caption>
                                    <thead>
                                        <tr>
                                            <th>Rubro</th>
                                            <th>Unidad de medida</th>
                                            <th>Cantidad cosechada</th>
                                            <th>Cantidad vendida</th>
                                            <th>Precio de venta</th>
                                            <th>Ingreso</th>
                                            <th>Costo</th>
                                            <th>Utilidad o perdida</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for key, value in v.0.items%}
                                        <tr>
                                            <td>{{key}}</td>
                                            <td>{{value.unidad}}</td>
                                            <td>{{value.cantidad_cosechada|default:0|intcomma}}</td>
                                            <td>{{value.venta|default:0|intcomma}}</td>
                                            <td>{{value.precio|floatformat:1|default:0|intcomma}}</td>
                                            <td>{{value.ingreso|floatformat:1|default:0|intcomma}}</td>
                                            <td>{{value.costo|floatformat:1|default:0|intcomma}}</td>
                                            <td>{{value.ingreso|calculaUtilidad:value.costo|default:0|floatformat:2|intcomma}}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>TOTALES</th>
                                            <th>---</th>
                                            <th>---</th>
                                            <th>---</th>
                                            <th>---</th>
                                            <th>{{v.2|floatformat:2|intcomma}}</th>
                                            <th>{{v.3|floatformat:2|intcomma}}</th>
                                            <th>C$ {{v.1|floatformat:2|intcomma}}</th>
                                        </tr>
                                    </tfoot>

                                </table>
                             </div>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 space">
                         <div>
                                <a href="#" onclick="exportarXLS('modalidad1'); return false;">Exportar a excel</a>
                            </div>
                             <div class="table-responsive" id="modalidad1">
                                <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <caption>Los cultivos huertos de la finca</caption>
                                    <thead>
                                        <tr>
                                            <th>Rubro</th>
                                            <th>Unidad de medida</th>
                                            <th>Cantidad cosechada</th>
                                            <th>Cantidad vendida</th>
                                            <th>Precio de venta</th>
                                            <th>Ingreso</th>
                                            <th>costo</th>
                                            <th>utilidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for key, value in v.6.items%}
                                        <tr>
                                            <td>{{key}}</td>
                                            <td>{{value.unidad}}</td>
                                            <td>{{value.cantidad_cosechada|default:0|intcomma}}</td>
                                            <td>{{value.venta|default:0|intcomma}}</td>
                                            <td>{{value.precio|floatformat:1|default:0|intcomma}}</td>
                                            <td>{{value.ingreso|floatformat:1|default:0|intcomma}}</td>
                                            <th>---</th>
                                            <th>---</th>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>TOTALES</th>
                                            <th>---</th>
                                            <th>---</th>
                                            <th>---</th>
                                            <th>---</th>
                                            <th>{{v.14|floatformat:1|intcomma}}</th>
                                            <th>{{v.15|floatformat:1|intcomma}}</th>
                                            <th>C$ {{v.7|floatformat:2|intcomma}}</th>
                                        </tr>
                                    </tfoot>

                                </table>
                             </div>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 space">
                         <div>
                                <a href="#" onclick="exportarXLS('modalidad2'); return false;">Exportar a excel</a>
                            </div>
                             <div class="table-responsive" id="modalidad2">
                                <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <caption>Los frutales en la finca</caption>
                                    <thead>
                                        <tr>
                                            <th>Rubro</th>
                                            <th>Unidad de medida</th>
                                            <th>Cantidad cosechada</th>
                                            <th>Cantidad vendida</th>
                                            <th>Precio de venta</th>
                                            <th>Ingreso</th>
                                            <th>costo</th>
                                            <th>utilidad</th>
                                        </tr>
                                    </thead>
                                        {%for key, value in v.8.items%}
                                        <tr>
                                            <td>{{key}}</td>
                                            <td>{{value.unidad}}</td>
                                            <td>{{value.cantidad_cosechada|default:0|intcomma}}</td>
                                            <td>{{value.venta|default:0|intcomma}}</td>
                                            <td>{{value.precio|floatformat:1|default:0|intcomma}}</td>
                                            <td>{{value.ingreso|floatformat:1|default:0|intcomma}}</td>
                                            <th>---</th>
                                            <th>---</th>
                                        </tr>
                                        {%endfor%}
                                    <tbody>

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>TOTALES</th>
                                            <th>---</th>
                                            <th>---</th>
                                            <th>---</th>
                                            <th>---</th>
                                            <th>{{v.17|floatformat:1|intcomma}}</th>
                                            <th>{{v.16|floatformat:1|intcomma}}</th>
                                            <th>C$ {{v.9|floatformat:2|intcomma}}</th>
                                        </tr>
                                    </tfoot>
                                </table>
                             </div>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 space">
                         <div>
                                <a href="#" onclick="exportarXLS('modalidad3'); return false;">Exportar a excel</a>
                            </div>
                             <div class="table-responsive" id="modalidad3">
                                <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <caption>Tenencia de animales en la finca</caption>
                                    <thead>
                                        <tr>
                                            <th>Rubro</th>
                                            <th>Cantidad de animales</th>
                                            <th>Cantidad vendida</th>
                                            <th>Precio de venta</th>
                                            <th>Ingreso</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for key, value in v.10.items%}
                                        <tr>
                                            <td>{{key}}</td>
                                            <td>{{value.cantidad|default:0|floatformat:1|intcomma}}</td>
                                            <td>{{value.venta|default:0|intcomma}}</td>
                                            <td>{{value.precio|floatformat:1|default:0|intcomma}}</td>
                                            <td>{{value.ingreso|floatformat:1|default:0|intcomma}}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>TOTALES</th>
                                            <th>---</th>
                                            <th>---</th>
                                            <th>---</th>
                                            <th>C$ {{v.11|floatformat:2|intcomma}}</th>
                                        </tr>
                                    </tfoot>

                                </table>
                             </div>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 space">
                         <div>
                                <a href="#" onclick="exportarXLS('modalidad4'); return false;">Exportar a excel</a>
                            </div>
                             <div class="table-responsive" id="modalidad4">
                                <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <caption>Comercialización de los productos procesados</caption>
                                    <thead>
                                        <tr>
                                            <th>Rubro</th>
                                            <th>Unidad de medida</th>
                                            <th>Cantidad cosechada</th>
                                            <th>Cantidad vendida</th>
                                            <th>Precio de venta</th>
                                            <th>Ingreso</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for key, value in v.12.items%}
                                        <tr>
                                            <td>{{key}}</td>
                                            <td>{{value.unidad}}</td>
                                            <td>{{value.cantidad|default:0|floatformat:1|intcomma}}</td>
                                            <td>{{value.venta|default:0|intcomma}}</td>
                                            <td>{{value.precio|floatformat:1|default:0|intcomma}}</td>
                                            <td>{{value.ingreso|floatformat:1|default:0|intcomma}}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>TOTALES</th>
                                            <th>---</th>
                                            <th>---</th>
                                            <th>---</th>
                                            <th>---</th>
                                            <th>C$ {{v.13|floatformat:2|intcomma}}</th>
                                        </tr>
                                    </tfoot>

                                </table>
                             </div>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 space">
                         <div>
                                <a href="#" onclick="exportarXLS('modalidad5'); return false;">Exportar a excel</a>
                            </div>
                             <div class="table-responsive" id="modalidad5">
                                <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <caption>Totales por cultivos</caption>
                                    <thead>
                                        <tr>
                                            <th>Tipo de Ingreso</th>
                                            <th>Ingreso / Utilidad</th>
                                            <th>Número de entrevistado</th>
                                            <th>Ingreso por familia</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Cultivo tradicional</td>
                                            <td>{{v.3|floatformat:2|intcomma}}</td>
                                            <td>{{request.session.encuestados}}</td>
                                            <td class="valor" >{{v.3|calcularIngresoXfamilia:request.session.encuestados|floatformat:2|intcomma}}</td>
                                        </tr>
                                        <tr>
                                            <td>Cultivo huertos de patio</td>
                                            <td>{{v.7|floatformat:2|intcomma}}</td>
                                            <td>{{request.session.encuestados}}</td>
                                            <td class="valor">{{v.7|calcularIngresoXfamilia:request.session.encuestados|floatformat:2|intcomma}}</td>
                                        </tr>
                                        <tr>
                                            <td>Cultivo Frutales</td>
                                            <td>{{v.9|floatformat:2|intcomma}}</td>
                                            <td>{{request.session.encuestados}}</td>
                                            <td class="valor">{{v.9|calcularIngresoXfamilia:request.session.encuestados|floatformat:2|intcomma}}</td>
                                        </tr>
                                        <tr>
                                            <td>Animales en la finca</td>
                                            <td>{{v.11|floatformat:2|intcomma}}</td>
                                            <td>{{request.session.encuestados}}</td>
                                            <td class="valor">{{v.11|calcularIngresoXfamilia:request.session.encuestados|floatformat:2|intcomma}}</td>
                                        </tr>
                                        <tr>
                                            <td>Productos procesados</td>
                                            <td>{{v.13|floatformat:2|intcomma}}</td>
                                            <td>{{request.session.encuestados}}</td>
                                            <td class="valor">{{v.13|calcularIngresoXfamilia:request.session.encuestados|floatformat:2|intcomma}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong>TOTAL</strong></td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td class="total_ingreso">C$ {{v.18|floatformat:2|intcomma}}</td>
                                        </tr>
                                    </tfoot>

                                </table>
                             </div>

                        </div>
                    </div>
                </div>
            </div> <!-- role tabpanel -->
      {% endfor %}
        </div>
    </div>

</div> <!-- fin caontainer -->
{% endblock contenido %}