{% extends "base.html" %}

{% block extra_js %}
<script src="http://code.highcharts.com/highcharts.js"></script>

<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Pertenece a alguna organización?'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: "",
            colorByPoint: true,
            data: [{% for k, v in grafo_pertenece.items %}
                        {
                            name: "{{k}}",
                            y: {{v}}
                        },
                    {% endfor %}
             ]
        }]
    });

    //otro grafo mas
    $('#container1').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'En el caso SI, qué organización comunitaria pertenece?'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: "",
            colorByPoint: true,
            data: [{% for k,v in grafo_org_comunitarias.items %}
                       {
                            name: "{{k}}",
                            y: {{v}}
                        },
                    {% endfor %}
                ]
        }]
    });

    // otro mas
    $('#container2').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: '¿Cuales son los beneficios de estar organizado?'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: "",
            colorByPoint: true,
            data: [{% for k,v in grafo_beneficios.items %}
                       {
                            name: "{{k}}",
                            y: {{v}}
                        },
                    {% endfor %}
                ]
        }]
    });


});

</script>
{% endblock extra_js %}

{% block contenido %}
<br>
<div class="row">
    <div class="col-md-6">
        <div id="container" style="height: 400px;"></div>
    </div>
    <div class="col-md-6">
        <div id="container1" style="height: 400px;"></div>
    </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-6"><div id="container2" style="height: 400px;"></div></div>
  <div class="col-md-6"><div id="container3" style="height: 400px;"></div></div>
</div>
<br><br>
{% include "menu_indicadores.html" %}
{% endblock contenido %}
