{% extends "base.html" %}

{% block extra_js %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

{% for key,value  in dicc_practicas.items %}
<script type="text/javascript">
$(function () {
    $('#container-{{key}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: '¿Realiza prácticas agroecológicas en la finca? '
        },
        credits: {
            enabled: false
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: "",
            colorByPoint: true,
            data: [ {% for k,v  in  value.0.items %}
                        {
                            name: "{{k}}",
                            y: {{v}}
                        },
                        {% endfor %}
                    ]
        }]
    });

$('#container1-{{key}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Preparación del suelo para la siembra'
        },
        subtitle: {
            text: ''
        },
        credits: {
            enabled: false
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencias'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: "",
            colorByPoint: true,
            data: [
            {% for k,v in value.1.items %}
                {
                    name: "{{k}}",
                    y: {{v}},
                },
            {% endfor %}
            ]
        }],
    });

$('#container2-{{key}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Tracción que utiliza para preparar el suelo'
        },
        subtitle: {
            text: ''
        },
        credits: {
            enabled: false
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencias'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: "",
            colorByPoint: true,
            data: [
            {% for k,v in value.2.items %}
                {
                    name: "{{k}}",
                    y: {{v}},
                },
            {% endfor %}
            ]
        }],
    });

$('#container3-{{key}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: '¿Realizan análisis de fertilidad de suelo? '
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: "",
            colorByPoint: true,
            data: [ {% for k,v  in  value.3.items %}
                        {
                            name: "{{k}}",
                            y: {{v}}
                        },
                        {% endfor %}
                    ]
        }]
    });


$('#container4-{{key}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: '¿Realizan control de plagas y enfermedades?'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: "",
            colorByPoint: true,
            data: [ {% for k,v  in  value.4.items %}
                        {
                            name: "{{k}}",
                            y: {{v}}
                        },
                        {% endfor %}
                    ]
        }]
    });

});
</script>
{% endfor %}
{% endblock extra_js %}

{% block contenido %}
{% include "breadcrumb.html" %}
<div class="container">
<br>
<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
  {% for k,v in dicc_practicas.items %}
    <li role="presentation" class="{% if forloop.counter == 1 %}active{% endif %}"><a href="#home-{{k}}" aria-controls="home" role="tab" data-toggle="tab">{{k}}</a></li>
    {% endfor %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
  {% for k,v in dicc_practicas.items %}
    <div role="tabpanel" class="tab-pane fade {% if forloop.counter == 1 %}in active{% endif %}" id="home-{{k}}">
<div class="row">
    <div class="col-md-6">
        <div id="container-{{k}}" style="height: 400px;"></div>
    </div>
    <div class="col-md-6">
        <div id="container1-{{k}}" style="height: 400px;"></div>
    </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-6"><div id="container2-{{k}}" style="height: 400px;"></div></div>
  <div class="col-md-6"><div id="container3-{{k}}" style="height: 400px;"></div></div>
</div>
<br><br>
<div class="row">
  <div class="col-md-6"><div id="container4-{{k}}" style="height: 400px;"></div></div>
  <div class="col-md-6"><div id="container5-{{k}}" style="height: 400px;"></div></div>
</div>
</div> <!-- role tabpanel -->
  {% endfor %}
  </div>

</div><!-- fin container -->
<br><br>
{% include "menu_indicadores.html" %}
{% endblock contenido %}
