{% extends "base.html" %}

{% block extra_js %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

{% for key,value  in dicc_prestamos.items %}

<script type="text/javascript">
    $(function () {
    // Create the chart
    $('#container-{{key}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'En el último año ha recibido algún tipo de préstamo/crédito'
        },
        credits: {
            enabled: false
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: "",
            colorByPoint: true,
            data: [{% for k,v in value.0.items %}
                {
                    name: "{{k}} ({{v}})",
                    y: {{v}}
                },
            {% endfor %}
             ]
        }]
    });

    //columna
    $('#container1-{{key}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '¿De quién recibe el préstamo/crédito?'
        },
        subtitle: {
            text: ''
        },
        credits: {
            enabled: false
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencias'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: "",
            colorByPoint: true,
            data: [
            {% for k,v in value.1.items %}
                {
                    name: "{{k}}",
                    y: {{v}},
                },
            {% endfor %}
            ]
        }],
    });

        //columna
    $('#container2-{{key}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '¿Cuál fue el uso del préstamo/crédito'
        },
        subtitle: {
            text: ''
        },
        credits: {
            enabled: false
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencias'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: "",
            colorByPoint: true,
            data: [
            {% for k,v in value.2.items %}
                {
                    name: "{{k}}",
                    y: {{v}},
                },
            {% endfor %}
            ]
        }],
    });

});
</script>
{% endfor %}
{% endblock extra_js %}

{% block contenido %}
{% include "breadcrumb.html" %}
<div class="container">
<br>
<!-- Nav tabs -->
    <div class="row list-anos">
        <div class="panel-group panel-indicadores" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title titulo-indicador">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <ol class="breadcrumb">
                                    <li>
                                        Indicador  
                                    </li>
                                    <li>
                                        Acceso a crédito
                                    </li>
                                    
                                </ol>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <span class="ver-indicador" >
                                    
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Ver más indicadores <span class="fa fa-search"></span>
                                    </a>
                                </span>
                            </div>
                        </div>
                        
                    </h4>
                 </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        {% include "menu_indicadores.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 titulo-anos">
            <h5>SELECCIONAR AÑO:</h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 botones-anos">
            <ul class="nav nav-tabs row" role="detalle">
               {% for k,v in dicc_prestamos.items %}

                 <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2 {% if forloop.counter == 1 %}active{% endif %}" role="presentation">
                    <a class="btn btn-anos" href="#home-{{k}}" aria-controls="home{{forloop.counter}}" role="tab" data-toggle="tab">{{k}}- fam({{v.3}})</a>
                 </li>
              {% endfor %}

            </ul>

        </div>
    </div>
  <!-- Tab panes -->
    <div class="row info-publica">
        <div class="tab-content">
            {% for k,v in dicc_prestamos.items %}
            <div role="tabpanel" class="tab-pane fade {% if forloop.counter == 1 %}in active{% endif %}" id="home-{{k}}">
                <div class="container">
                    <div class="row fila-grafico1">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 space">
                            <div class="grafico-ind"  id="container-{{k}}" width='100%'></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 space">
                            <div class="grafico-ind" id="container1-{{k}}" width='100%'></div>
                        </div>
                    </div>
                    <div class="row fila-grafico">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 space">
                            <div class="grafico-ind"  id="container2-{{k}}" width='100%'></div>
                        </div>

                    </div>
                </div>
            </div> <!-- role tabpanel -->
      {% endfor %}
        </div>
    </div>
</div> <!-- fin container -->

{% endblock contenido %}
