{% extends "base.html" %}

{% load  helpertags %}

{% block extra_js %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

{% for k,v in dicc_sexo_dueno.items %}
<script type="text/javascript">
$(function () {
    $('#container-{{k}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: '¿Son dueños de la propiedad/finca?'
        },
        credits: {
            enabled: false
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    distance: -30,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: "",
            colorByPoint: true,
            data: [{
                name: "SI",
                y: {{v.0}}
            }, {
                name: "NO",
                y: {{v.1}},
                sliced: true,
                selected: true
            }]
        }]
    });

    //otro grafo mas
    $('#container1-{{k}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'En el caso SI, indique a nombre de quien está'
        },
        credits: {
            enabled: false
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    distance: -30,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: "",
            colorByPoint: true,
            data: [{% for k,v in v.2.items %}
                       {
                            name: "{{k}}",
                            y: {{v}}
                        },
                    {% endfor %}
                ]
        }]
    });

    // otro mas
    $('#container2-{{k}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'En el caso que diga NO, especifique la situación'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    distance: -30,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: "",
            colorByPoint: true,
            data: [{% for k,v in v.3.items %}
                       {
                            name: "{{k}}",
                            y: {{v}}
                        },
                    {% endfor %}
                ]
        }]
    });

    // mas grafo
    $('#container3-{{k}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Sexo del jefe del hogar'
        },
        credits: {
            enabled: false
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    distance: -30,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: "",
            colorByPoint: true,
            data: [{% for k,v in v.4.items %}
                {
                name: "{{k}}",
                y: {{v}}
            },
            {% endfor %}
             ]
        }]
    });
});

</script>
{% endfor %}
{% endblock extra_js %}

{% block contenido %}
{% include "breadcrumb.html" %}
<div class="container">
<!-- Nav tabs -->

    <div class="row list-anos">
        <div class="panel-group panel-indicadores" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title titulo-indicador">
                        <ol class="breadcrumb">
                            <li>
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Indicadores
                                </a> 
                            </li>
                            <li>
                                Dueño del hogar
                            </li>
                        </ol>
                        
                    </h4>
                 </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        {% include "menu_indicadores.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 titulo-anos">
            <h5>SELECCIONAR AÑO:</h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 botones-anos">
            <ul class="nav nav-tabs row" role="detalle">
              {% for k,v in dicc_sexo_dueno.items %}

                 <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2 {% if forloop.counter == 1 %}active{% endif %}" role="presentation">
                    <a class="btn btn-anos" href="#home-{{k}}" aria-controls="home{{forloop.counter}}" role="tab" data-toggle="tab">{{k}}</a>
                 </li>
              {% endfor %}

            </ul>

        </div>
    </div>
<!-- Tab panes -->
    <div class="row info-publica">
        <div class="tab-content">
              {% for k,v in dicc_sexo_dueno.items %}
                <div role="tabpanel" class="tab-pane fade {% if forloop.counter == 1 %}in active{% endif %}" id="home-{{k}}">
                <div class="container">
                    <div class="row fila-grafico1">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 space">
                            <div class="grafico-ind" id="container-{{k}}" style="min-width: 310px;  width: 550px; height: 400px; margin: 0 auto"></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="grafico-ind" id="container1-{{k}}" style="min-width: 310px;  width: 550px; height: 400px; margin: 0 auto"></div>
                        </div>
                    </div>
                    <div class="row fila-grafico">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 space">
                            <div class="grafico-ind" id="container2-{{k}}" style="min-width: 310px;  width: 550px; height: 400px; margin: 0 auto"></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="grafico-ind" id="container3-{{k}}" style="min-width: 310px;  width: 550px; height: 400px; margin: 0 auto"></div>
                        </div>
                    </div>
                    <div class="row fila-grafico">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 space">
                            <div>
                                <a href="#" onclick="exportarXLS('modalidad'); return false;">Exportar a excel</a>
                                </div>
                            <div class="table-responsive" id="modalidad">
                                <table class="table table-bordered table-hover">
                                    <tr>
                                        <th>Cuando el jefe es</th>
                                        <th>No de personas</th>
                                        <th>Porcentajes</th>
                                    </tr>
                                    {% for k,value in v.5.items %}
                                        <tr>
                                            <td>{{k}}</td>
                                            <td>{{value}}</td>
                                            <td>{{value|calculaperct:v.7|floatformat:2}} %</td>
                                        </tr>
                                    {% endfor %}
                                 </table>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <tr>
                                        <th>Tipo de personas</th>
                                        <th>No de personas</th>
                                        <th>Porcentajes</th>
                                    </tr>
                                    {% for k,value in v.6.items %}
                                        <tr>
                                            <td>{{k}}</td>
                                            <td>{{value}}</td>
                                            <td>{{value|calculaperct:v.7|floatformat:2}} %</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div> 
                </div>

                </div> <!-- role tabpanel -->
              {% endfor %}
        </div>
    </div>
</div>
<br><br>

{% endblock contenido %}
