{% extends "base.html" %}

{% load  helpertags %}

{% block extra_js %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

{% for k,v in dicc_sexo_dueno.items %}
<script type="text/javascript">
$(function () {
    $('#container-{{k}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: '¿Son dueños de la propiedad/finca?'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: "",
            colorByPoint: true,
            data: [{
                name: "SI",
                y: {{v.0}}
            }, {
                name: "NO",
                y: {{v.1}},
                sliced: true,
                selected: true
            }]
        }]
    });

    //otro grafo mas
    $('#container1-{{k}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'En el caso SI, indique a nombre de quien está'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: "",
            colorByPoint: true,
            data: [{% for k,v in v.2.items %}
                       {
                            name: "{{k}}",
                            y: {{v}}
                        },
                    {% endfor %}
                ]
        }]
    });

    // otro mas
    $('#container2-{{k}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'En el caso que diga NO, especifique la situación'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    distance: -30,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: "",
            colorByPoint: true,
            data: [{% for k,v in v.3.items %}
                       {
                            name: "{{k}}",
                            y: {{v}}
                        },
                    {% endfor %}
                ]
        }]
    });

    // mas grafo
    $('#container3-{{k}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Sexo del jefe del hogar'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    distance: -30,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: "",
            colorByPoint: true,
            data: [{% for k,v in v.4.items %}
                {
                name: "{{k}}",
                y: {{v}}
            },
            {% endfor %}
             ]
        }]
    });
});

</script>
{% endfor %}
{% endblock extra_js %}

{% block contenido %}
{% include "breadcrumb.html" %}
<div class="container">
<br>
<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
  {% for k,v in dicc_sexo_dueno.items %}
    <li role="presentation" class="{% if forloop.counter == 1 %}active{% endif %}"><a href="#home-{{k}}" aria-controls="home" role="tab" data-toggle="tab">{{k}}</a></li>
    {% endfor %}
  </ul>

<!-- Tab panes -->
  <div class="tab-content">
  {% for k,v in dicc_sexo_dueno.items %}
    <div role="tabpanel" class="tab-pane fade {% if forloop.counter == 1 %}in active{% endif %}" id="home-{{k}}">
    <div class="row">
        <div class="col-md-6">
            <div id="container-{{k}}" style="height: 400px;"></div>
        </div>
    <div class="col-md-6">
        <div id="container1-{{k}}" style="height: 400px;"></div>
    </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-6"><div id="container2-{{k}}" style="height: 400px;"></div></div>
        <div class="col-md-6"><div id="container3-{{k}}" style="height: 400px;"></div></div>
    </div>
    <br><br>
    <div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>Cuando el jefe es</th>
                <th>No de personas</th>
                <th>Porcentajes</th>
            </tr>
            {% for k,value in v.5.items %}
                <tr>
                    <td>{{k}}</td>
                    <td>{{value}}</td>
                    <td>{{value|calculaperct:v.7|floatformat:2}} %</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>Tipo de personas</th>
                <th>No de personas</th>
                <th>Porcentajes</th>
            </tr>
            {% for k,value in v.6.items %}
                <tr>
                    <td>{{k}}</td>
                    <td>{{value}}</td>
                    <td>{{value|calculaperct:v.7|floatformat:2}} %</td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>

    </div> <!-- role tabpanel -->
  {% endfor %}
  </div>

</div>
<br><br>
{% include "menu_indicadores.html" %}
{% endblock contenido %}
